# top-most EditorConfig file
root = true

# Unix-style newlines at the bottom of every file
[*]
charset = utf-8
end_of_line = lf
max_line_length = 100

# Tab indentation
indent_style = tab
indent_size = 2

# Make sure every file has a blank line at the end
insert_final_newline = true

# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true

# Give operators breathing room, but not brackets
spaces_around_operators = true
indent_brace_style = K&R
curly_bracket_next_line = false

[*.{yml, yaml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space

[*.json]
indent_style = space
