---
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)
---

<main class="flex min-h-screen items-center justify-center text-center">
	{session ? "Ingresando..." : "No se ha podido iniciar sesión"}
</main>

{session !== null && <script>window.close(); window.opener.location.reload()</script>}
