---
import { FIGHTERS } from "@/consts/fighters"
import Layout from "@/layouts/Layout.astro"
import ArrowBack from "@/assets/svg/arrowBack.svg"

const { id } = Astro.params

const fighter = FIGHTERS.find((fighter) => fighter.id === id)

export const prerender = false
---

<Layout>
  <section class="relative flex min-h-screen w-full">
    <div
      class="bg-[url('/images/hero.png')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0"
    >
    </div>
    <a href="/" class="bg-theme-tickle-me-pink absolute p-2 rounded-md left-16 top-20 z-20">
      <ArrowBack />
    </a>
    <img
      transition:name={`image-${id}`}
      data-id={`hero-image-${id}`}
      src={`/images/fighters/big/${id}.webp`}
      alt={fighter?.name}
      decoding="async"
      class="w-auto h-screen z-10 mask-fade-bottom"
      fetchpriority="low"
    />
  </section>
</Layout>
