.animate-zoom-out {
    animation: zoom-out 500ms ease-out forwards;
    -webkit-animation: zoom-out 500ms ease-out forwards;
}

@keyframes slide-down-fade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.animate-slide-down-fade {
    animation: slide-down-fade 300ms ease-in-out forwards;
    -webkit-animation: slide-down-fade 300ms ease-in-out forwards;
}