@import "tailwindcss";

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Anisette", sans-serif;
}
