@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-dark-magenta: #2a1f26;
  --font-fallback: "Adjusted Arial Fallback", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
    "Noto Sans", helvetica, arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-primary: "Anisette";

  /* Velada V Custom Colors */
  --color-theme-french-mauve:oklch(67.65% 0.1539 329.18);
  --color-theme-raisin-black:oklch(25.53% 0.0209 340.25);
  --color-theme-tickle-me-pink:oklch(75.65% 0.143 355.9);
  --color-theme-seashell:oklch(95.25% 0.0147 33.07);
  --color-theme-turquoise:oklch(82.97% 0.148864 181.7442);
}

@layer base {
  /* Webkit Browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-theme-raisin-black);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-theme-french-mauve);
    border-radius: 5px;
    border: 2px solid oklch(67.65% 0.1539 329.18 / 0.4); 
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-theme-tickle-me-pink); /* Efecto hover */
  }

  /* Firefox */
  * {
    scrollbar-color: var(--color-theme-french-mauve) var(--color-theme-raisin-black);
    scrollbar-width: thin;
    border-radius: 5px; 
  }
}

@font-face {
  font-family: "Adjusted Arial Fallback";
  src: local(Arial);
  size-adjust: 112%;
  ascent-override: 74%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

html {
  font-family: "Anisette", var(--font-fallback);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@utility mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}