---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="relative flex min-h-screen w-full items-center justify-center">
    <div
      class="bg-[url('/images/hero.png')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0 flex items-center justify-center"
    >
      <div class="flex flex-col items-center p-8 w-full text-center mb-80">
        <p class="text-4xl">404</p>
        <p >La página no se encuentra</p>
        <p class="mt-5"><a href="/" class="text-theme-turquoise">Volver al inicio</a></p>
      </div>
    </div>
  </section>
</Layout>
