---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="La página no existe | La Velada del Año V - Evento de boxeo de Ibai Llanos con creadores de contenido">
    <section class="relative flex min-h-screen w-full items-center justify-center text-center">
        <div
          class="bg-[url('/images/hero.png')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0 flex items-center justify-center"
        >
        <div class="absolute inset-0 flex flex-col items-center gap-4 top-[30%]">
            <h2 class="text-7xl font-bold text-theme-raisin-black text-tracking-widest">4<span class="text-rose-500 text-tickle-me-pink shadow-sky-900 drop-shadow-[0_1px_2px_rgba(0,0,0,0.8)] text-7xl">0</span>4</h2>
            <p class="inline-flex wrap gap-2 text-center text-2xl font-black text-theme-raisin-black/95">Página no encontrada</p>
            <a aria-label="Volver al inicio" href="/" class="text-light ring-1 ring-white font-medium text-theme-french-mauve bg-black px-2 py-3 transition transform duration-300 ease-in-out hover:-rotate-6 hover:ring-4 hover:shadow-lg hover:ring-cyan-300 rounded-md hover:scale-105 hover:bg-theme-raisin-black hover:text-theme-seashell">VOLVER A<br/> <span class="text-rose-500 text-tickle-me-pink shadow-sky-900 drop-shadow-[0_1px_2px_rgba(0,0,0,0.8)]">INICIO</span></a>
        </div>
         
        </div>
      </section>
</Layout>