---
import Layout from "@/layouts/Layout.astro"
import Error from "@/sections/Error.astro"
import Footer from "@/sections/Footer.astro"
---

<Layout
	description="Web Oficial de La Velada del A침o IV, evento de boxeo entre streamers y creadores de contenido, organizado por Ibai Llanos"
	title="La Velada del A침o 4 - P치gina no encontrada"
>
	<main>
		<Error error="404" message="P치gina no encontrada"/>
	</main>
	<Footer />
</Layout>
