---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <section class="relative flex min-h-screen w-full items-center justify-center">
    <div
      class="mask-fade-bottom absolute inset-0 flex w-full items-center justify-center bg-[url('/images/hero.avif')] bg-cover bg-center"
    >
      <div class="mb-80 flex w-full flex-col items-center p-8 text-center">
        <p class="text-4xl">404</p>
        <p>La página no se encuentra</p>
        <p class="mt-5"><a href="/" class="text-theme-turquoise">Volver al inicio</a></p>
      </div>
    </div>
  </section>
</Layout>
