---
import Layout from "@/layouts/Layout.astro"
const title = '404';
const message = 'Lo sentimos, la página no existe.';
---
<Layout>
    <section class="relative flex min-h-screen w-full">
        <div
          class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.png')] bg-cover bg-center"
        >
        </div>
      
        <div class="relative flex w-full flex-col items-center p-8 text-center mt-50">
            <h1 class="text-5xl">{title}</h1>
            <p class="text-theme-raisin-black">{message}</p>
            <a href="/" class="mt-5 text-theme-turquoise">Volver al inicio</a>
        </div>

        </section>
</Layout>

