---
import Layout from "@/layouts/Layout.astro";


---

<Layout title="Combates | La Velada del Año V - Evento de boxeo de Ibai Llanos con creadores de contenido">
    <section class="relative flex min-h-screen w-full">
        <div
        class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.png')] bg-cover bg-center"
      >
      <div class="relative flex w-full flex-col items-center p-8 text-center">
        <h1 class="text-white/90 animate-fade-in animate-delay-300 mt-16 leading-[100%] font-bold  drop-shadow-[0_1px_2px_rgba(255,60,0,0.8)] text-3xl tracking-widest">LOS COMBATES</h1>
      </div>
      </div>
    </section>
</Layout>