---
import SynthwaveText from '@/components/SynthwaveText.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="relative flex w-full flex-col items-center gap-8 p-8 text-center">
    <img src="/images/fighters/text/peereira.png" alt="Carlos" class="h-16" />
    <SynthwaveText as="h1">
      peereira7
    </SynthwaveText>
  </div>
</Layout>
