---
import Layout from "@/layouts/Layout.astro"

import KonamiCode from "@/components/KonamiCode.astro"

import Countdown from "@/sections/Countdown.astro"
import Footer from "@/sections/Footer.astro"
import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
import ButtonUp from "@/components/ButtonUp.astro"
---

<Layout
	description="Web Oficial de La Velada del Año IV, evento de boxeo entre streamers y creadores de contenido, organizado por Ibai Llanos"
	title="La Velada del Año 4 - Evento de Boxeo de Ibai Llanos"
>
	<Hero />
	<main>
		<PrincipalDate />
		<Info />
		<Countdown />
	</main>
	<Footer />
	<ButtonUp />
	<KonamiCode />
</Layout>
