---
import Layout from "@/layouts/Layout.astro"

import Countdown from "@/sections/Countdown.astro"
import Footer from "@/sections/Footer.astro"
import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
---

<Layout title="La Velada IV">
  <Hero />
  <main>
    <PrincipalDate />
    <Info />
    <Countdown />
  </main>
  <Footer />
</Layout>

<script defer>
  const container = document.querySelector('body div.container')
  const allowedKeys = {
    37: 'left',
    38: 'up',
    39: 'right',
    40: 'down',
    65: 'a',
    66: 'b'
  }
  const konamiCode = [
    'up',
    'up',
    'down',
    'down',
    'left',
    'right',
    'left',
    'right',
    'b',
    'a'
  ]
  let konamiCodePosition = 0

  document.addEventListener('keydown', ({ keyCode }) => {
    const key = allowedKeys[keyCode]
    const requiredKey = konamiCode[konamiCodePosition]

    if (key != requiredKey) return konamiCodePosition = 0
    konamiCodePosition++

    if (konamiCodePosition != konamiCode.length) return
    container.style.transform = 'rotateY(360deg)'
    container.style.transition = 'transform 3s ease'
    container.addEventListener('transitionend', () => {
      container.style.transition = 'none'
      container.style.transform = 'rotateY(0deg)'
    })
    konamiCodePosition = 0
  })
</script>