---
import Layout from "@/layouts/Layout.astro"

import KonamiCode from "@/components/KonamiCode.astro"

import Countdown from "@/sections/Countdown.astro"
import Footer from "@/sections/Footer.astro"
import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
---

<Layout title="La Velada 4 (2024) - Web oficial del evento de boxeo de Ibai Llanos">
  <Hero />
  <main>
    <PrincipalDate />
    <Info />
    <Countdown />
  </main>
  <Footer />
  <KonamiCode />
</Layout>
