---
import Layout from "@/layouts/Layout.astro"

import KonamiCode from "@/components/KonamiCode.astro"

import Footer from "@/sections/Footer.astro"
import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import LogoSection from "@/sections/LogoSection.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
---

<Layout title="La Velada 4 - Evento de Boxeo de Ibai Llanos">
  <Hero />
  <main>
    <PrincipalDate />
    <Info />
    <LogoSection />
  </main>
  <Footer />
  <KonamiCode />
</Layout>
