---
import Layout from "@/layouts/Layout.astro"
import Votacion from '../components/Votacion.astro';
---

<Layout>
    <section class="relative flex min-h-screen w-full">
      <div
        class="bg-[url('/images/hero.png')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0"
      >
      </div>
      <div style="position: relative; z-index: 1; padding: 20px;">
        <Votacion />
      </div>
    </section>
</Layout>