---
import Layout from '@/layouts/Layout.astro'
import { porra } from '@/consts/pageTitles'
import BackgroundLayout from '@/layouts/BackgroundLayout.astro'
---

<Layout title={porra}>
  <BackgroundLayout>
    <header
      class="absolute top-28 mx-auto flex min-h-screen w-full flex-col items-center justify-start gap-4"
    >
      <h2
        class="animate-fade-in animate-delay-300 bg-gradient-to-r from-sky-100 to-pink-300 bg-clip-text text-center text-2xl font-bold text-transparent drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"
      >
        PARTICIPA EN LA PORRA
      </h2>
    </header>
  </BackgroundLayout>
</Layout>
