---
import Layout from "@/layouts/Layout.astro"
const id = "roro"
const name= "roro"
---
<Layout>
<div class="max-w-7xl mx-auto p-4 h-screen mb-[150vh]">
  <a href="#" id="contentclip" class=" w-52 mt-24 inline-block p-1 clip">
    <img src="/images/fighters/cards/roro.png" class="object-cover clip grayscale hover:grayscale-0 transition-all duration-100" alt="">  
  </a>


</div>

</Layout>
<style>
.clip {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.clip:hover {
  animation: backgroundselect 1s infinite ;

}

.pulsing {
  animation: backgroundselect 1s infinite ;
} 

@keyframes backgroundselect {
  0% {
    background: transparent; /* Transparente */
  }
  50% {
    background: rgba(255, 255, 255, 0.814); /* Transparente */
  }
  100% {
    background:  transparent;
  }
}

</style>