<section class="relative flex min-h-screen w-full">
  <div
    class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center h-screen"
  >
  <slot />
  </div>
</section>
