---
import Layout from "@/layouts/Layout.astro"
---

<Layout description={"Todos los combates de la Velada IV"} title={"Combates de La Velada IV"}>
	<main class="flex flex-col items-center">
		<div class="w-full lg:flex lg:items-center"></div>
	</main>
</Layout>
