<span
	class="absolute inset-0 -z-10 m-auto block h-auto w-full max-w-[400px] scale-[110%] md:scale-[115%]"
>
	<svg
		viewBox="0 0 195.7106 228.31828"
		fill="none"
		style="stroke:var(--color-accent);"
		stroke-width="0.8"
	>
		<g id="layer2" transform="translate(-8.8581707,-33.903125)"
			><path
				d="m 112.79348,110.64503 c 0,0 41.17857,-55.859628 59.08229,-62.304968 17.90373,-6.445342 27.57174,-11.10031 29.00404,-10.026089 1.4323,1.074225 -29.72018,49.056213 -37.59782,59.798447 -7.87765,10.74224 -31.15249,46.54969 -31.15249,46.54969"
			></path><path
				d="m 113.50962,114.58385 c 0,0 25.78137,-41.536647 40.46243,-50.846583 14.68105,-9.309939 35.0913,-23.990993 42.61087,-25.065217"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 112.4354,112.07733 c 0,0 26.49752,-37.239753 41.89472,-48.340063 15.39721,-11.100311 46.19162,-25.423294 46.19162,-25.423294 0,0 -23.27485,34.017082 -26.49752,41.894723 -3.22267,7.877638 -33.30093,48.340064 -41.17857,61.946894"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 131.05528,146.81056 c 0,0 50.13043,-71.614909 58.72422,-88.086338 C 198.37329,42.252794 200.16366,37.9559 200.16366,37.9559"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 112.4354,174.74037 c 0,0 -3.22267,4.65497 -6.08727,8.23571 -2.86459,3.58075 -2.86459,4.2969 -2.86459,4.2969"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 113.15155,174.02422 c 0,0 -5.72919,7.51957 -7.51956,10.38416 -1.79038,2.8646 -10.02609,-10.02608 -10.02609,-10.02608"
			></path><path style="stroke:var(--color-accent);" d="m 113.50962,173.66615 -8.59378,12.89068"
			></path><path
				style="stroke:none;"
				d="m 204.46056,40.820496 c 0,0 -23.27485,32.942857 -30.43634,42.252796 -7.16149,9.309936 -40.82049,60.156518 -40.82049,60.156518"
			></path><path
				style="stroke:none;"
				d="m 130.6972,145.73633 c 0,0 46.90777,-70.182605 54.78541,-79.850617 7.87764,-9.668013 15.3972,-28.287887 15.3972,-28.287887 0,0 -42.96894,14.32298 -65.52764,46.191614 -22.55869,31.86863 -23.27484,29.72018 -23.27484,29.72018"
			></path><path
				style="stroke:#none;"
				d="m 95.963974,175.45652 c 0,0 4.296896,5.37112 6.445336,8.95186 2.14845,3.58075 1.4323,2.50652 1.4323,2.50652 0,0 6.44534,-9.66801 8.23572,-10.38416"
			></path><path
				style="stroke:none;"
				d="m 113.15155,109.92888 c 0,0 42.25279,-50.130433 59.0823,-59.082298 16.8295,-8.951862 23.27484,-13.248756 27.21366,-12.532609 3.93882,0.716151 -18.61987,32.22671 -23.63292,41.894723 -5.01304,9.66801 -37.23975,55.501554 -40.10434,58.366144 -2.8646,2.8646 -5.01305,4.2969 -5.01305,4.2969"
			></path><path
				style="stroke:none;"
				d="m 129.98105,147.52671 c 0,0 54.78541,-74.837581 59.0823,-84.505593 4.2969,-9.668013 13.24876,-22.200621 12.89068,-24.349067 -0.35807,-2.148449 -36.16552,12.532608 -51.9208,29.720185 -15.75528,17.187576 -37.23975,46.191615 -37.23975,46.191615"
			></path></g
		>
		<g id="layer3" transform="translate(-8.8581707,-33.903125)"
			><path
				style="stroke:none;"
				d="m 10.026087,259.24596 c 0.716149,-3.22267 30.794409,-60.87267 40.820495,-74.83758 10.026089,-13.9649 47.265838,-65.16956 49.414288,-69.82453 2.14844,-4.65497 5.37112,-7.51957 5.37112,-7.51957 0,0 77.70217,117.09038 85.57981,132.12951 7.87764,15.03912 8.23571,18.61987 8.23571,18.61987"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 105.27391,108.49658 c 0,0 -27.213663,40.8205 -38.313973,58.00807 -11.100311,17.18758 -56.217701,85.22175 -56.575776,89.16056 -0.358074,3.93882 -1.4322978,5.01305 -1.4322978,5.01305 0,0 59.4403718,-42.2528 68.3922338,-56.93385 8.951865,-14.68106 26.139443,-46.19162 26.139443,-46.19162 0,0 25.06522,47.26584 31.15248,54.42733 6.08727,7.16149 44.04317,37.59783 49.77236,39.74628 5.72919,2.14844 13.60683,5.37111 13.60683,5.37111 0,0 -54.7854,-93.81552 -62.30496,-103.48354 -7.51957,-9.66801 -30.43634,-45.11739 -30.43634,-45.11739 z"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 103.12546,156.83664 c 0,0 -35.449373,65.52764 -58.00807,80.2087 -22.558695,14.68106 -33.659005,24.70714 -33.659005,24.70714 0,0 39.746273,-81.64099 61.230744,-107.78043 21.484473,-26.13944 32.226711,-45.83354 32.226711,-45.83354"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 103.84161,157.55279 c 0,0 29.00404,61.9469 52.27888,75.55373 23.27485,13.60683 38.31398,22.55869 41.17857,24.70714 2.8646,2.14845 -22.55869,-46.90776 -35.44937,-64.45341 C 148.959,175.81459 110.64503,115.3 107.78043,108.13851"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 104.91584,106.70621 c 0,0 -22.916772,41.17857 -36.881679,55.50155 -13.964907,14.32298 -50.130435,80.92484 -53.71118,90.95093"
			></path><path
				style="stroke:none;"
				d="m 107.42236,106.34813 c 0,0 54.7854,88.08634 61.94689,97.39628 7.16149,9.30994 29.00404,49.05621 30.79441,51.20466"
			></path><path
				style="stroke:none;"
				d="m 9.6680122,262.11056 c 0,0 10.3841618,-6.80342 29.7201858,-20.41025 19.336024,-13.60683 63.021112,-85.22174 63.021112,-85.22174 0,0 22.91678,49.77236 35.80746,60.15652 12.89068,10.38416 40.8205,33.30093 58.00807,41.17857"
			></path><path
				style="stroke:none;"
				d="m 107.06428,107.06428 c 0,0 39.03013,63.73727 52.27888,84.50559 13.24876,20.76833 42.2528,64.45342 42.2528,64.45342"
			></path><path
				style="stroke:none;"
				d="m 95.963974,174.02422 c 0,0 7.161486,11.45839 8.235716,13.60683 1.07422,2.14845 5.01304,-9.30993 7.51956,-11.81646"
			></path><path
				style="stroke:none;"
				d="m 94.173602,175.09845 9.309938,12.89068 c 0,0 7.16149,-9.66801 8.59379,-13.24876"
			></path><path
				style="stroke:none;"
				d="m 10.384161,259.96211 c 3.93882,-7.51957 21.484472,-48.34006 32.584783,-62.66305 11.10031,-14.32298 46.549688,-61.94689 51.204658,-71.6149 4.654968,-9.66801 9.668008,-18.61988 9.668008,-18.61988"
			></path><path
				style="stroke:#none;"
				d="m 103.12546,156.12049 c 0,0 18.97796,47.26584 41.53665,65.16957 22.5587,17.90373 54.42733,36.88168 54.42733,36.88168 0,0 -35.80745,-67.31802 -48.34006,-81.99907 -12.53261,-14.68106 -44.04317,-67.67609 -44.04317,-67.67609"
				id="path31"></path><path
				style="stroke:none;"
				d="m 105.63199,158.98509 c 0,0 25.42329,56.2177 39.74627,66.24379 14.32298,10.02609 52.63695,33.30093 52.63695,33.30093"
			></path><path
				style="stroke:nonse;"
				d="m 102.76739,156.83664 c 0,0 -40.104347,67.67609 -52.636956,77.70218 C 37.597826,244.5649 11.81646,259.60403 11.81646,259.60403"
			></path><path
				style="stroke:none;"
				d="m 107.78043,107.42236 c 0,0 54.78541,90.59285 68.03416,108.13851 13.24876,17.54565 23.991,40.46242 23.991,40.46242"
			></path><path
				style="stroke:none;"
				d="m 199.08944,256.02329 c 0,0 -33.30093,-55.85963 -41.17857,-64.81149 -7.87764,-8.95186 -51.20466,-84.86367 -51.20466,-84.86367 0,0 47.98199,84.14752 63.02112,98.11243"
			></path><path
				style="stroke:none;"
				d="m 105.63199,105.99006 c 0,0 -35.807457,54.42733 -48.340066,71.25683 -12.532608,16.8295 -33.659005,47.98199 -38.313974,60.15652 -4.654969,12.17454 -8.951863,22.5587 -8.951863,22.5587 0,0 77.702173,-49.41429 92.383223,-101.33509"
				id="path30"></path></g
		>
		<g id="layer1" transform="translate(-8.8581707,-33.903125)"
			><path
				style="stroke:var(--color-accent);"
				d="m 75.959077,146.60102 c 0,0 -27.345266,-33.1688 -29.62404,-43.04348 C 44.056265,93.682864 17.723785,45.069053 14.432225,42.283887 11.140665,39.498722 10.887468,35.44757 10.887468,35.44757 c 0,0 52.664961,33.67519 69.882351,60.767264 17.217392,27.092066 15.445015,24.306906 15.445015,24.306906"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 9.6214834,38.73913 c 0,0 14.9386186,20.002558 21.2685406,34.181586 6.329924,14.179026 25.572892,48.613804 30.130435,53.930944 4.557546,5.31714 15.445012,20.76215 15.445012,20.76215"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 13.16624,34.941176 c 43.80307,31.902813 48.360613,33.421994 56.209718,45.322249 7.849106,11.900257 24.306906,36.713555 24.8133,38.485935"
			></path><path
				style="stroke:var(--color-accent);"
				d="M 76.212276,147.36061 C 45.828643,101.53197 30.890024,70.135548 24.813299,60.007671 18.736573,49.879794 10.887468,35.953964 10.887468,35.953964 c 0,0 21.774937,8.102301 37.979538,23.800512 16.204605,15.698207 36.966753,44.562654 36.966753,44.562654"
			></path><path
				style="stroke:var(--color-accent);"
				d="m 95.6059,173.66615 c 7.16149,12.89068 6.80341,14.32298 6.80341,14.32298"></path><path
				style="stroke:none;"
				d="m 76.627949,149.67515 c 0,0 -34.375155,-49.772355 -41.894719,-67.676082 C 27.213665,64.095341 12.174534,39.746274 12.174534,39.746274"
			></path><path
				style="stroke:none;"
				d="m 13.964907,34.017079 c 0,0 42.252793,25.065217 54.427328,41.178572 12.174535,16.113353 28.287887,44.401239 28.287887,44.401239"
			></path><path
				style="stroke:none;"
				d="m 95.6059,174.02422 c 8.23571,13.24876 8.59379,15.03913 8.59379,15.03913"></path><path
				style="stroke:none;"
				d="m 95.6059,171.5177 c 0,0 3.580744,3.93882 5.72919,11.10031 2.14845,7.16149 1.79037,5.37112 1.79037,5.37112"
			></path><path
				style="stroke:none;"
				d="m 95.6059,174.3823 c 0,0 6.44534,9.66801 7.51956,11.81646 1.07423,2.14844 9.66802,-9.66802 9.66802,-9.66802"
			></path><path
				style="none;"
				d="m 76.627949,148.959 c 0,0 -32.942857,-47.26583 -38.672049,-60.156516 C 32.226707,75.911799 23.274844,56.575777 20.052174,51.920806 16.829503,47.265838 11.100311,37.239752 11.100311,37.239752 c 0,0 30.078261,12.532608 41.178569,24.349067 11.10031,11.81646 42.61087,51.920801 43.32702,56.217701"
			></path><path
				style="stroke:none;"
				d="m 77.702174,147.88478 c 0,0 -39.746274,-53.711178 -44.043169,-66.601863 C 29.362111,68.392235 12.174534,37.9559 12.174534,37.9559"
			></path><path
				style="stroke:none;"
				d="m 94.531676,119.59689 c 0,0 -23.632919,-44.759313 -31.510559,-51.204655 -7.877638,-6.445343 -45.117391,-31.51056 -45.117391,-31.51056"
			></path><path
				style="stroke:none;"
				d="m 94.531676,174.74037 c 0,0 9.668014,10.74224 10.384164,12.89068"></path></g
		></svg
	>
</span>
<script>
	let intervalId: NodeJS.Timeout
	type AnimatedXElement = SVGGElement | null

	const INTERVAL_TIME = 100
	const STROKES = { none: "none", accent: "var(--color-accent)" }

	const prefersReducedMotion = window.matchMedia("(prefers-reduced-motion: reduce)").matches
	document.addEventListener("astro:page-load", () => {
		if (prefersReducedMotion) return

		intervalId && clearInterval(intervalId)
		const $svgGroup1 = document.getElementById("layer1") as AnimatedXElement
		const $svgGroup2 = document.getElementById("layer2") as AnimatedXElement
		const $svgGroup3 = document.getElementById("layer3") as AnimatedXElement

		intervalId = setInterval(() => drawGroup([$svgGroup1, $svgGroup2, $svgGroup3]), INTERVAL_TIME)
	})

	function drawGroup($svgGroups: AnimatedXElement[]): void {
		$svgGroups.forEach((gElement: AnimatedXElement) => {
			if (gElement === null) return
			const random = Math.floor(Math.random() * gElement.children.length)
			const el = gElement.children[random] as SVGPathElement
			const actualStroke = el.style.stroke
			const hasNoStroke = actualStroke === STROKES.none

			if (hasNoStroke) {
				el.style.stroke = STROKES.accent
				return
			}

			el.style.stroke = STROKES.none

			setTimeout(() => {
				el.style.stroke = STROKES.accent
			}, INTERVAL_TIME)
		})
	}
</script>
