<div aria-hidden="true" class="absolute -z-1 min-h-screen w-full">
  <div
    class="mask-fade-bottom inset-0 min-h-screen w-full bg-[url('/images/hero.avif')] bg-cover bg-center"
  >
  </div>

  <div class="mask-fade-bottom absolute inset-0 min-h-screen w-full bg-black opacity-10"></div>
</div>
