---
import LiteYouTube from './LiteYouTube.astro'
import SectionTitle from './SectionTitle.astro'
interface Props {
  workout?: {
    videoID: string
    thumbnail: string
  }
}
const { workout = undefined } = Astro.props
const hasWorkout = workout !== undefined
---

{
  hasWorkout && (
    <section class="mx-auto my-16 max-w-6xl px-2 lg:my-36 lg:px-10">
      <div class="text-dark-magenta text-center">
        <SectionTitle title="Entrenamiento" />
        <p class="mt-2 text-xl uppercase">Preparación para el combate</p>
      </div>
      <div class="mt-4 px-4 pt-2">
        <LiteYouTube videoId={workout.videoID} backgroundImage={workout.thumbnail} />
      </div>
    </section>
  )
}
