---
import Typography from "@/components/Typography.astro"

interface Props {
	readonly name: string
}

const { name } = Astro.props

const splitName = name?.split(" ") ?? []
const lastName = splitName[splitName.length - 1]
const firstNames = splitName.slice(0, splitName.length - 1).join(" ")
---

<Typography
	as="h4"
	variant="boxer-title"
	color="primary"
	class:list={"boxer-title -skew-y-6 text-center"}
>
	<span class="flex flex-col">
		<span class="text-4xl">{firstNames?.toLocaleLowerCase()}</span>
		<span>{lastName?.toLocaleLowerCase()}</span>
	</span>
</Typography>

<style>
	.boxer-title {
		text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
	}
</style>
