---
import type { Boxer } from "@/consts/boxers"

interface Props {
	title: string
	value: Boxer[]
}

const { title, value } = Astro.props
---

<div class="flex justify-center text-white">
	<div class="style flex flex-col items-start text-center">
		<h4>{title}</h4>
		<div class="rivals-data">
			{
				value.map((item, index) => (
					<>
						<a
							class:list={"text-xl font-bold text-accent hover:underline"}
							id="boxer-weight"
							href={item.id}
							title={`Visita la página del boxeador ${item.name}`}
						>
							{item.name}
						</a>
						{index !== value.length - 1 && <span class="text-xl font-bold text-accent"> y </span>}
					</>
				))
			}
		</div>
	</div>
</div>

<style>
	.style {
		width: 100%;
		display: flex;
		align-items: center;
	}

	@media (max-width: 767px) {
		.style {
			flex-direction: row;
			justify-content: space-between;
		}

		h4,
		.rivals-data {
			margin: 0;
			padding: 2px 10px;
		}

		h4 {
			margin-left: 0;
		}

		.rivals-data {
			margin-right: 0;
		}
	}
</style>
