---
import Typography from "@/components/Typography.astro"

interface Props {
	readonly id: string
	readonly name: string
	readonly country: string
	readonly countryName?: string
}

const { country, countryName, id } = Astro.props
---

<div class="relative">
	<div
		class="absolute inset-0 -z-10 m-auto bg-center bg-no-repeat"
		style="
			background-image: url('/img/effects/boxer-background.png');
			background-size: 45%;
			mask-image: radial-gradient(circle at bottom, transparent 26%, #000 40%);
		"
	>
	</div>
	<img
		class="h-auto w-full max-w-full"
		alt={`Fotografía de ${name}`}
		src={`/img/boxers/${id}-small.webp`}
		style="filter: drop-shadow(0 0 20px rgba(0, 0, 0, .5)); mask-image: linear-gradient(to bottom, black 80%, transparent 100%);"
	/>
	<div class="relative mt-10">
		<img
			class:list={"boxer-flag pointer-events-none absolute bottom-0 left-1/2 aspect-[3/2] h-auto w-20 -translate-x-1/2 transform object-contain object-center sm:w-24 md:w-28"}
			alt={`Bandera de ${countryName}`}
			src={`/img/flags/${country}.webp`}
		/>
		<div class="absolute bottom-14 left-1/2 mb-10 max-w-md -translate-x-1/2 transform text-wrap">
			<Typography
				as="h4"
				variant="boxer-title"
				color="primary"
				class:list={"boxer-title -skew-y-6 text-center"}
			>
				<span class="flex flex-col">
					<span class="text-4xl"> el </span>
					mariana
				</span>
			</Typography>
		</div>
	</div>
</div>
