---
import type { Boxer } from "@/types/Boxer"

interface Props {
	title: string
	value: Boxer[]
	id: string
}

const { title, value, id } = Astro.props
---

<div class="flex justify-center text-white">
	<div
		class="flex w-full items-start justify-between pl-2.5 pr-2.5 pt-2 text-center md:flex-col md:items-center"
	>
		<h4>{title}</h4>
		<div class="w-4/5 text-right md:w-full md:text-center">
			{
				value.map((item, index) => (
					<>
						<a
							class:list={"text-xl font-bold text-accent hover:underline"}
							href={item.id}
							title={`Visita la página del boxeador ${item.name}`}
							id={id + (index + 1)}
						>
							{item.name}
						</a>
						{index !== value.length - 1 && <span class="text-xl font-bold text-accent"> / </span>}
					</>
				))
			}
		</div>
	</div>
</div>
