---
import ClipsModal from "@/components/ClipsModal.astro"
import Typography from "@/components/Typography.astro"

interface Props {
	clips?: Array<{
		text: string
		url: string
	}>
}

const { clips = [] } = Astro.props
const hasClips = clips.length > 0
---

{
	hasClips && (
		<section class="z-20 mx-auto mt-2 max-w-96 overflow-x-hidden py-5 md:mt-0 md:overflow-x-visible">
			<ClipsModal />
			<div class="carousel flex select-none flex-row flex-nowrap items-center transition duration-700 md:max-w-none md:!translate-x-0 md:flex-wrap md:place-content-center md:gap-4">
				{clips.map(({ text, url }) => (
					<button
						data-url={url}
						class:list={`clip-container group flex min-w-full flex-col justify-between hover:saturate-150 md:min-w-0 ${"block"} cursor-pointer md:block`}
						data-clip-item
					>
						<Typography
							as="h3"
							variant="atomic-quote"
							color="primary"
							class:list={
								"flex flex-1 -skew-y-6 items-center justify-center text-pretty text-center transition group-hover:scale-110"
							}
						>
							"{text.toLowerCase()}"
						</Typography>

						<footer class="flex items-end justify-center pt-2 text-center">
							<Typography
								as="p"
								variant="small"
								color="neutral"
								class:list={
									"text-center opacity-0 transition group-hover:text-white group-hover:opacity-100"
								}
							>
								Ver clip
							</Typography>
						</footer>
					</button>
				))}
			</div>
			<div class="mx-auto flex max-w-60 items-center justify-between md:hidden">
				<button data-btn-prev class="transition hover:scale-125">
					<img class="size-16" src="https://cdn.lavelada.dev/ui/left-arrow.svg" alt="Izquierda" />
				</button>
				<Typography data-clip-index as="p" variant="medium" color="white" class:list={"uppercase"}>
					Cita 1/{clips.length}
				</Typography>
				<button data-btn-next class="transition hover:scale-125">
					<img
						class="size-16 rotate-180"
						src="https://cdn.lavelada.dev/ui/left-arrow.svg"
						alt="Derecha"
					/>
				</button>
			</div>
		</section>
	)
}

<script>
	import { $ } from "@/lib/dom-selector"

	document.addEventListener("astro:page-load", () => {
		const $carousel = $(".carousel")
		const $prev = $("[data-btn-prev]")
		const $next = $("[data-btn-next]")
		const $clipIndex = $("[data-clip-index]")

		let position = 0

		const updatePosition = () => {
			$carousel?.setAttribute("style", `transform: translateX(-${100 * position}%)`)
			if ($clipIndex) $clipIndex.innerHTML = `Cita ${position + 1}/${$carousel?.children.length}`
		}

		$prev?.addEventListener("click", () => {
			position--
			if (position < 0) {
				position = ($carousel?.children.length ?? 1) - 1
			}
			updatePosition()
		})

		$next?.addEventListener("click", () => {
			position++
			if ($carousel?.children.length && position >= $carousel?.children.length) {
				position = 0
			}
			updatePosition()
		})

		window.addEventListener("resize", updatePosition)
		updatePosition()
	})
</script>
