---
import Icon from "./Icon.astro"
---

<div class="fixed bottom-2 right-2 opacity-0 transition-opacity">
	<button
		id="scroll-to-top"
		aria-label="Volver al inicio de la página"
		class="group flex size-12 cursor-default items-center justify-center rounded-lg border-2 border-primary bg-black/10 text-primary backdrop-blur hover:scale-105 hover:border-accent motion-safe:transition"
	>
		<Icon
			name="arrow-up"
			class:list={"h-6 w-6 -rotate-45 group-hover:-rotate-90 group-hover:text-accent motion-safe:transition"}
		/>
	</button>
</div>

<script>
	let timeout: number = 0 // Identificador para clearTimeout
	const $button = document.getElementById("scroll-to-top")

	// Función para mostrar u ocultar el botón
	function toggleScrollToTop() {
		const scrollTop = document.body.scrollTop || document.documentElement.scrollTop
		const display = scrollTop > 20 ? "block" : "none"
		if ($button) {
			$button.parentElement?.classList.toggle("opacity-0", display === "none")
			$button.classList.toggle("cursor-default", display === "none")
		}
	}

	function throttledScrollHandler() {
		if (timeout === 0) {
			timeout = setTimeout(() => {
				toggleScrollToTop()
				timeout = 0
			}, 100)
		}
	}

	window.addEventListener("scroll", throttledScrollHandler)

	$button?.addEventListener("click", () => {
		window.scrollTo({ top: 0, behavior: "smooth" })
	})
</script>
