<div id="button-up" class="fixed bottom-2 right-2 opacity-0 transition-opacity">
	<button
		id="scroll-to-top"
		aria-label="Volver al inicio de la p치gina"
		class="group flex size-12 cursor-default items-center justify-center rounded-lg border-2 border-primary bg-black/10 text-primary backdrop-blur hover:scale-105 hover:border-accent motion-safe:transition"
	>
		<svg
			aria-label="Subir al inicio de la p치gina"
			stroke-width="2"
			stroke="currentColor"
			viewBox="0 0 24 24"
			fill="none"
			class="h-6 w-6 -rotate-45 group-hover:-rotate-90 group-hover:text-accent motion-safe:transition"
			width="20px"
		>
			<path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
		</svg>
	</button>
</div>

<script>
	document.addEventListener("astro:page-load", () => {
		let timeout: number = 0 // Identificador para clearTimeout
		const $button = document.getElementById("scroll-to-top") as HTMLButtonElement

		const DISPLAY = { BLOCK: "block", NONE: "none" } as const

		// Funci칩n para mostrar u ocultar el bot칩n
		function toggleScrollToTop() {
			const scrollTop = document.body.scrollTop || document.documentElement.scrollTop
			const display = scrollTop > 20 ? DISPLAY.BLOCK : DISPLAY.NONE

			if ($button) {
				const parent = $button.closest("#button-up")
				parent?.classList.toggle("opacity-0", display === DISPLAY.NONE)
				$button.classList.toggle("cursor-default", display === DISPLAY.NONE)
			}
		}

		function throttledScrollHandler() {
			if (!timeout) {
				timeout = requestAnimationFrame(() => {
					toggleScrollToTop()
					timeout = 0
				})
			}
		}

		window.addEventListener("scroll", throttledScrollHandler)

		$button.addEventListener("click", () => {
			window.scrollTo({ top: 0, behavior: "smooth" })
		})
	})
</script>
