---
import Action from "@/components/Action.astro"
---

<!-- This button is used to open the dialog -->
<Action as="button" id="calendar-open" class:list={"bg-twitch"}>Añadir al calendario</Action>
<!-- Overlay element -->
<div
	id="calendar-overlay"
	class="fixed inset-0 z-40 hidden h-screen w-screen bg-black bg-opacity-80 blur-md"
>
</div>
<div id="calendar-close" class="radial fixed inset-0 top-0 -z-10 hidden"></div>

<!-- The dialog -->
<div
	id="calendar-dialog"
	class="fixed left-1/2 top-1/2 z-50 hidden w-96 -translate-x-1/2 -translate-y-1/2 gap-0 overflow-hidden rounded-lg bg-secondary drop-shadow-lg"
>
	<div class="flex h-full w-full flex-col" id="calendar-options">
		<a
			href="https://calendar.google.com/calendar/render?action=TEMPLATE"
			id="google"
			class="h-full w-full border-b border-b-black/35 bg-secondary py-5 text-center font-medium text-primary hover:bg-accent hover:text-secondary"
			>Google Calendar</a
		>
		<a
			href="/"
			id="apple"
			class="h-full w-full border-b border-b-black/35 bg-secondary py-5 text-center font-medium text-primary hover:bg-accent hover:text-secondary"
			>Apple Calendar</a
		>
		<a
			href="/"
			id="ms365"
			class="h-full w-full border-b border-b-black/35 bg-secondary py-5 text-center font-medium text-primary hover:bg-accent hover:text-secondary"
			>Microsoft 365</a
		>
		<a
			href="/"
			id="msteams"
			class="h-full w-full bg-secondary py-5 text-center font-medium text-primary hover:bg-accent hover:text-secondary"
			>Microsoft Teams</a
		>
	</div>
</div>
<style>
	.radial {
		background-image: radial-gradient(
			var(--color-accent) 0%,
			rgba(0, 0, 0, 0.1) 30%,
			transparent 100%
		);
	}
</style>
<script>
	import { VELADA_EVENT } from "@/consts/calendar"
	import { addToCalendar } from "@/function/calendar"
	import { $, $$ } from "@/lib/dom-selector"
	import type { CalendarProviders } from "@/types/Calendar"

	// selectors
	const $openButton = $("#calendar-open")
	const $dialog = $("#calendar-dialog")
	const $overlay = $("#calendar-overlay")
	const $close = $("#calendar-close")
	const $calendarOptions = $$("#calendar-options > a")

	$calendarOptions?.forEach((link: any) => {
		link.addEventListener("click", (ev: PointerEvent) => {
			ev.preventDefault()
			const element = ev.target as HTMLAnchorElement
			const providerUrl = element.href
			const provider = element.id as CalendarProviders
			addToCalendar(providerUrl, provider, VELADA_EVENT)
		})
	})
	// show the overlay and the dialog
	$openButton.addEventListener("click", () => {
		$dialog.classList.remove("hidden")
		$overlay.classList.remove("hidden")
		$close.classList.remove("hidden")
	})

	// closes modal when clicking out of it
	$overlay.addEventListener("click", () => {
		$dialog.classList.add("hidden")
		$overlay.classList.add("hidden")
		$close.classList.add("hidden")
	})
</script>
