---
import Typography from "@/components/Typography.astro"

interface Comments {
	comment: string
	url_clip: string
	click_enabled: boolean
}

const COMMENTNS: Comments[] = [
	{
		comment: "no me he preparado, pero voy a pisarle la cabeza",
		url_clip: "",
		click_enabled: false,
	},
	{
		comment: "me da igual ganar. solo dar hostias",
		url_clip: "",
		click_enabled: true,
	},

	{
		comment: "lo importante es nunca perder la compostura",
		url_clip: "",
		click_enabled: true,
	},
]
---

<div class="mt-10 grid select-none grid-cols-3 place-content-center gap-2 gap-x-8 md:gap-4">
	{
		COMMENTNS.map(({ comment, url_clip, click_enabled }) => (
			<article class="flex flex-col justify-between bg-gradient-to-b p-5 hover:from-zinc-600/25">
				<main>
					<Typography
						as="h3"
						variant="atomic-title"
						color="primary"
						class:list={"text-balance text-center"}
					>
						"{comment}"
					</Typography>
				</main>
				{click_enabled === true && (
					<footer class="mt-6 flex items-end justify-center p-5 text-center">
						<Typography
							as="a"
							href={url_clip}
							variant="body"
							color="neutral"
							class:list={"mt-4 text-center "}
						>
							Ver clip
						</Typography>
					</footer>
				)}
			</article>
		))
	}
</div>
