---
const { time, dateType, atribute } = Astro.props
---

<div class="flex flex-col place-items-center gap-y-2 w-16">
  <span class="text-4xl tabular-nums" {...atribute}>{time}</span>
  <span class="text-xs text-center">{dateType}</span>
</div>
