---
interface Props {
	time: string
	dateType: string
	attribute: Record<string, string>
}

const { time, dateType, attribute } = Astro.props
---

<div class="flex w-16 flex-col place-items-center gap-y-2">
	<span class="text-4xl tabular-nums" {...attribute}>{time}</span>
	<span class="text-center text-xs">{dateType}</span>
</div>
