---
import X from "../assets/svg/x.svg"
import Instagram from "../assets/svg/instagram.svg"
import GitHub from "../assets/svg/github.svg"
---

<footer class="relative w-screen h-[400px] pb-32">
  <div
    class="absolute inset-0 bg-cover bg-bottom bg-[url('/images/footer.webp')]
    [mask-image:linear-gradient(transparent,black_50%)]"
  >
  </div>

  <div
    class="relative h-full flex flex-col justify-center items-center text-[#2a1f26]"
  >
    <div class="footer-content">
      <p>© 2025 La Velada del Año. Todos los derechos reservados.</p>
    </div>

    <div class="flex flex-row gap-x-2 items-center justify-center mt-4">
      <a
        aria-label="Ir al perfil en X de InfoLaVelada"
        class="size-10 hover:scale-125 transition"
        href="https://x.com/infolavelada"
        target="_blank"
      >
        <X />
      </a>

      <a
        aria-label="Ir al perfil de Instagram de InfoLaVelada"
        class="size-10 hover:scale-125 transition"
        href="https://instagram.com/infoLaVelada"
        target="_blank"
      >
        <Instagram />
      </a>

      <a
        aria-label="Ir al repositorio de GitHub de InfoLaVelada"
        class="size-10 hover:scale-125 transition"
        href="https://github.com/midudev/la-velada-web-oficial"
        target="_blank"
      >
        <GitHub />
      </a>
    </div>
  </div>
</footer>
