---
import X from "../assets/svg/x.svg"
import Instagram from "../assets/svg/instagram.svg"
import GitHub from "../assets/svg/github.svg"
---

<footer class="relative h-[400px] w-screen pb-32">
  <div
    class="absolute inset-0 bg-[url('/images/footer.webp')] bg-cover bg-bottom [mask-image:linear-gradient(transparent,black_50%)]"
  >
  </div>

  <div
    class="relative flex h-full flex-col items-center justify-center text-[#2a1f26]"
  >
    <div class="footer-content">
      <p>© 2025 La Velada del Año. Todos los derechos reservados.</p>
    </div>

    <div class="mt-4 flex flex-row items-center justify-center gap-x-2">
      <a
        class="size-10 transition hover:scale-125"
        href="https://x.com/infolavelada"
        target="_blank"
      >
        <X />
      </a>

      <a
        class="size-10 transition hover:scale-125"
        href="https://instagram.com/infoLaVelada"
        target="_blank"
      >
        <Instagram />
      </a>

      <a
        class="size-10 transition hover:scale-125"
        href="https://github.com/midudev/la-velada-web-oficial"
        target="_blank"
      >
        <GitHub />
      </a>
    </div>
  </div>
</footer>
