---
import NavLink from './NavLink.astro'
import { links } from '../consts/links'

const { pathname } = Astro.url

// Lista de rutas donde NO debe aparecer el logo
const hideLogoRoutes = ['/']
const shouldShowLogo = !hideLogoRoutes.includes(pathname)
---

<header class="fixed top-0 z-50 mx-auto flex h-20 w-full items-center rounded-b-md text-white">
  <nav
    class:list={[
      shouldShowLogo ? 'grid-cols-3' : 'grid-cols-2',
      'mx-auto grid w-full max-w-6xl items-center justify-between px-6 text-sm font-medium',
    ]}
  >
    <div class="hidden flex-row justify-start gap-8 md:flex">
      {/* Enlace con animación de subrayado dividido en dos colores */}
      {links.map((link) => <NavLink href={link.href} text={link.text} />)}
    </div>

    {
      shouldShowLogo && (
        <a href="/" class="relative mx-auto cursor-pointer duration-500 hover:scale-110">
          <img
            class="h-auto w-10"
            src="/favicon.svg"
            fetchpriority="high"
            alt="La Velada del Año V"
            decoding="async"
          />
        </a>
      )
    }

    {
      shouldShowLogo && (
        <a
          href="/"
          class="relative mx-auto hidden w-1/3 cursor-pointer duration-500 hover:scale-110 md:inline-block"
        >
          <img
            class="mx-auto h-auto w-10"
            src="/favicon.svg"
            fetchpriority="high"
            alt="La Velada del Año V"
            decoding="async"
          />
        </a>
      )
    }

    <div
      class:list={[
        'flex-col items-end md:text-right',
        shouldShowLogo ? 'md:w-1/3' : 'md:flex-grow',
      ]}
    >
      <span
        class="text-theme-seashell relative inline-block cursor-not-allowed py-1 leading-relaxed tracking-wider opacity-90"
        >COMPRA LAS ENTRADAS
        <span
          class="absolute inset-0 top-4 mt-1 text-center text-[10px] leading-normal tracking-wide text-yellow-500"
          >PRÓXIMAMENTE</span
        >
      </span>
    </div>
  </nav>
</header>

<style>
  header {
    background: transparent;
    animation: header-blur-scroll 0.3s linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
  }

  @keyframes header-blur-scroll {
    0% {
      backdrop-filter: blur(0px);
      background: transparent;
    }

    100% {
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.5);
      padding-bottom: var(--spacing-6);
    }
  }
</style>
