---
const { pathname } = Astro.url;

// Lista de rutas donde NO debe aparecer el logo
const hideLogoRoutes = ["/", "/combates"];
const shouldShowLogo = !hideLogoRoutes.includes(pathname);
---

<header class="fixed flex items-center top-0 h-16 w-full z-50 text-white mx-auto">
  <nav
    class:list={[
      shouldShowLogo ? "grid-cols-3" : "grid-cols-2",
      "grid items-center px-6 text-sm font-light justify-between max-w-6xl w-full mx-auto",
    ]}
  >
    <div class="hidden md:flex flex-row gap-8 justify-start">
      <a
        href="/la-porra"
        class="inline-block text-theme-seashell relative after:absolute after:bottom-[-2px] after:left-0 after:h-0.5 after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full"
        >HAZ TU <strong>PORRA</strong></a
      >
      <a
        href="/combates"
        class="inline-block text-theme-seashell relative after:absolute after:bottom-[-2px] after:left-0 after:h-0.5 after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full"
        >VER <strong>COMBATES</strong></a
      >
    </div>

    {shouldShowLogo && (
      <a
        href="/"
        class="mx-auto hover:scale-105 cursor-pointer transition duration-500 relative top-6">
        <img
          class="w-20 h-auto"
          src="/images/logo.png"
          fetchpriority="high"
          alt="La Velada del Año V"
          decoding="async"
        />
      </a>
    )}

    <div class="hidden md:flex flex-col items-end">
      <span
        class="inline-block text-theme-seashell opacity-90 cursor-not-allowed relative"
        >COMPRA LAS <strong>ENTRADAS</strong>
        <span
          class="absolute top-4 inset-0 text-[10px] text-yellow-500 mt-1 text-center"
          >PRÓXIMAMENTE</span
        >
      </span>
    </div>
  </nav>
</header>

<style>
  header {
    background: transparent;
    animation: header-blur-scroll 0.3s linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
    border-bottom: 1px solid transparent;
  }

  @keyframes header-blur-scroll {
    0% {
      backdrop-filter: blur(0px);
      background: transparent;
    }

    100% {
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.5);
      padding-bottom: var(--spacing-6);
      border-bottom-color: black;
    }
  }
</style>