<div class="fixed inset-0 -z-30 m-auto bg-black/10">
	<svg fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true"></svg>
</div>

<style>
	div::before {
		@apply w-full h-full transform-gpu absolute left-0 top-0 opacity-20 bg-repeat;
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
		background-size: 182px;
	}
</style>
