---
interface Props {
    class?: string;
    id?: string;
}
const { class: className, id } = Astro.props;
---

<section id={id} class:list={["mx-auto max-w-6xl px-2 lg:px-10", className]}>
    <slot />
</section>
