---
interface Props {
  title: string
  class?: string
}

const { title, class: className } = Astro.props
---

<h2 class=`text-dark-magenta mb-4 text-center text-4xl font-light lowercase ${className}`>
  <div class="block sm:inline">
    <strong class="font-bold">{title}</strong>
  </div>
</h2>
