---
interface Props {
  class?: string
  title: string
}

const { class: className, title } = Astro.props
---

<h2 class:list={[`text-dark-magenta mb-4 text-center text-4xl font-light`, className]}>
  <div class="block sm:inline">
    <strong class="font-bold lowercase">{title}</strong>
  </div>
</h2>
