---
interface Props {
  title: string
}

const { title } = Astro.props
---

<h2 class="text-dark-magenta mb-4 text-center text-4xl font-light lowercase">
  <div class="block sm:inline">
    <strong class="font-bold">{title}</strong>
  </div>
</h2>
