---
import GithubIcon from "@/icons/github.astro"
import InstagramIcon from "@/icons/instagram.astro"
import XIcon from "@/icons/x.astro"
---

<nav class:list={`${Astro.props.class}`}>
	<ul
		class="flex flex-row items-center gap-x-6"
		aria-label="redes sociales y botón para alternar tema"
	>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="Instagram de La Velada, se abrirá en una nueva pestaña"
				href="https://www.instagram.com/infolavelada"
				class="any-hover:scale-125 any-hover:opacity-70 motion-reduce:any-hover:scale-100 inline-block motion-safe:transition"
			>
				<InstagramIcon
					class="text-primary hover:text-accent transition-colors duration-300 motion-reduce:duration-0"
				/>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="X de La Velada, se abrirá en una nueva pestaña"
				href="https://x.com/infoLaVelada"
				class="any-hover:scale-125 any-hover:opacity-70 motion-reduce:any-hover:scale-100 inline-block motion-safe:transition"
			>
				<XIcon
					class="text-primary hover:text-accent transition-colors duration-300 motion-reduce:duration-0"
				/>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="GitHub de La Velada, se abrirá en una nueva pestaña"
				href="https://github.com/midudev/la-velada-web-oficial"
				class="any-hover:scale-125 any-hover:opacity-70 motion-reduce:any-hover:scale-100 inline-block motion-safe:transition"
			>
				<GithubIcon
					class="text-primary hover:text-accent transition-colors duration-300 motion-reduce:duration-0"
				/>
			</a>
		</li>
	</ul>
</nav>
