---
import { SPONSORS } from "@/consts/sponsors"
import SponsorCard from "./SponsorCard.astro"
---

<section class="flex flex-col items-center justify-center mt-4" id="sponsors">
  <h4 class="text-3xl text-transparent bg-clip-text bg-gradient-to-b from-raisin-black via-raisin-black to-french-mauve">
    <strong>PATROCINADORES</strong> DEL EVENTO
  </h4>
  <div class="h-1 mt-4 mb-4 bg-gradient-to-r from-transparent via-french-mauve to-transparent w-3/4 rounded-full"/>
  <div class="flex transition-all ease-in-out justify-center flex-wrap w-full lg:w-3/4 xl:w-1/2 sm:w-3/4">
    {SPONSORS.map(({url,image,name,label}) => (
      <SponsorCard url={url} image={image} name={name} label={label} /> 
    ))}
  </div>
  <div class="h-1 mt-4 mb-4 bg-gradient-to-r from-transparent via-french-mauve to-transparent w-3/4 rounded-full"/>
</section>
