---
import { SPONSORS } from "../consts/sponsors"

const firstRow = SPONSORS.slice(0, 5)
const secondRow = SPONSORS.slice(5)
---

<section id="sponsors">
  <div class="grid grid-cols-5 sm:gap-0 md:gap-4 justify-items-center items-center">
    {
      firstRow.map(({ url, image, name }) => (
        <a
          href={url}
          target="_blank"
          class="size-14 hover:scale-125 transition text-[#2a1f26] flex justify-center items-center"
        >
          <image.logo class="h-14 w-auto" />
        </a>
      ))
    }
  </div>
  <div class="grid grid-cols-6 sm:gap-0 md:gap-4 justify-items-center items-center">
    {
      secondRow.map(({ url, image, name }) => (
        <a
          href={url}
          target="_blank"
          class="size-14 hover:scale-125 transition text-[#2a1f26] flex justify-center items-center"
        >
          <image.logo class="h-14 w-auto" />
        </a>
      ))
    }
  </div>
</section>
