---
interface Props {
    url: string,
    image: {
        logo: any
        width: number
        height: number
    },
    name: string,
    label: string
}

const {url, image, name, label} = Astro.props
---

<div class="flex justify-center items-cente w-1/2 lg:w-1/3 p-2 transition-all ease-in-out">
    <a
      href={url}
      target="_blank"
      aria-label={label ?? name}
      class="size-20 h-28 w-full  bg-[length:200%_200%] transition text-dark-magenta flex justify-center items-center bg-gradient-to-br from-theme-tickle-me-pink via-theme-french-mauve to-theme-turquoise rounded-2xl shadow-md shadow-theme-french-mauve hover:shadow-theme-french-mauve hover:animate-gradient-hover animate-gradient-unhover group"
    >
      <image.logo width={image.width} height={image.width} class="h-20 group-hover:scale-125 transition w-auto" />
    </a>
</div>
