---
import Twitch from '@/assets/svg/twitch.svg';
---
<a
  href="https://twitch.tv/ibai"
  rel="noopener noreferrer"
  target="_blank"
  class="group relative overflow-hidden text-white neon-text space-x-2 inline-flex items-center justify-center border-2 border-white rounded-lg px-4 animate-fade-in animate-delay-700 z-10 mt-4 inline-block leading-relaxed font-medium tracking-wider transition hover:scale-105"
>
  <div
      class="width-full absolute inset-0 -translate-x-full bg-gradient-to-r from-transparent via-white/20 to-transparent transition-transform duration-700 ease-in-out group-hover:translate-x-full"
  >
  </div>
  <Twitch />
  <span>twitch.tv/ibai</span>
</a>

<style>
    .neon-text {
        text-shadow: 0 0 7px #fff;
        background: rgba(145, 70, 255, 0.30);
        box-shadow: 0 0 .2rem rgba(255, 255, 255, 0.40),
        0 0 .2rem rgba(255, 255, 255, 0.40),
        0 0 2rem rgba(145, 70, 255, 0.40);
    }
</style>
