---
import type { HTMLTag, Polymorphic } from "astro/types"

type Props<Tag extends HTMLTag> = Polymorphic<{
	as: Tag
	variant: string
	color: string
	href?: string
}>

const { as: Tag, class: className, variant, color, href, ...props } = Astro.props

const variantClasses: { [key: string]: string } = {
	h2: "text-lg font-medium uppercase lg:text-2xl",
	h3: "text-2xl font-semibold uppercase",
	body: "text-xl",
	medium: "text-md",
}
const colorClasses: { [key: string]: string } = {
	white: "text-white",
	black: "text-black",
	primary: "text-accent",
	neutral: "text-neutral-300",
}

const classes = [variantClasses[variant], colorClasses[color], className]
---

{
	href ? (
		<a href={href} class:list={classes} {...props}>
			<slot />
		</a>
	) : (
		<Tag class:list={classes} {...props}>
			<slot />
		</Tag>
	)
}
