---
import ImageOverlay from "../components/ImageOverlay.astro"
import { items } from "../consts/items"
---

<section class="mt-32 px-4 md:mt-60">
	<div
		class="flex flex-col items-center justify-center gap-x-8 gap-y-20 md:grid md:grid-cols-2 md:gap-y-12"
	>
		{
			items.map((item, index) => (
				<ImageOverlay
					className="max-w-md lg:max-w-none"
					imgSrc={item.imgSrc}
					imgAlt={item.imgAlt}
					title={item.title}
					description={item.description}
				/>
			))
		}
	</div>
</section>
