---
import ImageOverlay from "@/components/ImageOverlay.astro"

const items = [
	{
		imgSrc: "https://cdn.lavelada.dev/event/evento.webp",
		imgAlt: "Evento",
		title: "EL EVENTO",
		description: "Lugar y agenda del evento",
	},
	{
		imgSrc: "https://cdn.lavelada.dev/event/entradas.webp",
		imgAlt: "Entradas",
		title: "ENTRADAS",
		description: "¡Agotadas!",
	},
	{
		imgSrc: "https://cdn.lavelada.dev/event/combates.webp",
		imgAlt: "Combates",
		title: "COMBATES",
		description: "Información de los contrincantes",
	},
	{
		imgSrc: "https://cdn.lavelada.dev/event/pronosticos.webp",
		imgAlt: "Pronóstico",
		title: "PRONÓSTICOS",
		description: "Predicciones de victoria",
	},
]
---

<section class="mt-32 px-4 md:mt-60">
	<div
		class="flex flex-col items-center justify-center gap-x-8 gap-y-20 md:grid md:grid-cols-2 md:gap-y-12"
	>
		{
			items.map((item) => (
				<ImageOverlay
					className="max-w-md lg:max-w-none"
					imgSrc={item.imgSrc}
					imgAlt={item.imgAlt}
					title={item.title}
					description={item.description}
				/>
			))
		}
	</div>
</section>
