---
import ImageOverlay from "../components/ImageOverlay.astro"
---

<section class="mt-32 md:mt-60">
	<div class="flex flex-wrap justify-center">
		<div class="w-full px-4 sm:w-1/2 lg:w-1/2">
			<ImageOverlay
				imgSrc="/img/event/evento.webp"
				imgAlt="Evento"
				title="EL EVENTO"
				description="Lugar y agenda del evento"
			/>
		</div>
		<div class="w-full px-4 sm:w-1/2 lg:w-1/2">
			<ImageOverlay
				imgSrc="/img/event/entradas.webp"
				imgAlt="Entradas"
				title="ENTRADAS"
				description="A la venta próximamente"
			/>
		</div>
		<div class="w-full px-4 sm:w-1/2 lg:w-1/2">
			<ImageOverlay
				imgSrc="/img/event/combates.webp"
				imgAlt="Combates"
				title="COMBATES"
				description="Información de los contrincantes"
			/>
		</div>
		<div class="w-full px-4 sm:w-1/2 lg:w-1/2">
			<ImageOverlay
				imgSrc="/img/event/pronosticos.webp"
				imgAlt="Pronóstico"
				title="PRONÓSTICOS"
				description="Predicciones de victoria"
			/>
		</div>
	</div>
</section>
