---
import Typography from "@/components/Typography.astro"
import type { Boxer } from "@/types/Boxer"

interface Props {
	combatId: string
	combatNumber: number
	boxers: Boxer[]
}

const ordinals: Record<number, string> = {
	1: "Primer",
	2: "Segundo",
	3: "Tercer",
	4: "Cuarto",
	5: "Quinto",
	6: "Sexto",
}
const { combatNumber, combatId, boxers } = Astro.props
---

<section class="mt-40 flex flex-col items-center gap-5 md:gap-10 lg:gap-0">
	<div class:list={["relative flex w-full flex-col items-center justify-center py-20"]}>
		<Typography
			as="div"
			variant="atomic-title"
			color="primary"
			tabindex={-1}
			class:list={"absolute inset-0 -z-10 self-center text-center text-[20rem] opacity-20"}
			>{combatNumber}
		</Typography>
		<h2 class:list={["text-center text-4xl font-semibold uppercase text-white  lg:text-6xl"]}>
			<span class:list={["flex flex-col items-center gap-2"]}>
				<span>
					{ordinals[combatNumber]} combate
				</span>
				<div class="lowercase">
					{
						boxers.map((boxer, index) => (
							<Typography as="span" variant="atomic-title" color="primary">
								{boxer.name}
								{index < boxers.length - 1 && <span class="text-6xl text-white"> vs</span>}
							</Typography>
						))
					}
				</div>
			</span>
		</h2>
	</div>
	<div>
		<a
			class:list={["flex flex-col items-center justify-center text-2xl font-semibold text-accent"]}
			href={`/combates/${combatId}`}
			tabindex="0"
		>
			<span class="text-primary">Ver combate</span>
		</a>
	</div>
</section>
