---
import Comments from "@/components/Comments.astro"
import Typography from "@/components/Typography.astro"
---

<section class="my-44">
	<Typography as="h3" variant="h3" color="white" class:list={"text-center"}>
		Declaraciones
	</Typography>
	<Typography as="p" variant="body" color="neutral" class:list={"mt-4 text-center"}>
		Citas previas del combate
	</Typography>

	<Comments />
</section>
