---
import LaVeladaLogo from "@/icons/la-velada.astro"
import Date from "@/components/Date.astro"
import { EVENT_TIMESTAMP } from "@/consts/event-date"
---

<section class="my-0 flex flex-col place-items-center gap-y-10 lg:my-32" aria-label="cuenta atrás">
	<LaVeladaLogo class="text-primary" />
	<p
		class="countdown-text max-w-[250px] text-balance text-center text-lg font-medium uppercase text-primary opacity-80 sm:max-w-full"
	>
		Para el Evento de Presentación faltan
	</p>

	<div
		class="flex flex-row gap-x-1 font-semibold uppercase text-primary"
		data-date={EVENT_TIMESTAMP}
		role="timer"
	>
		<Date dateType="Días" attribute={{ "data-days": "" }} />

		<span aria-hidden="true" class="mt-1 text-xl">:</span>

		<Date dateType="Horas" attribute={{ "data-hours": "" }} />

		<span aria-hidden="true" class="mt-1 text-xl">:</span>

		<Date dateType="Minutos" attribute={{ "data-minutes": "" }} />

		<span aria-hidden="true" class="mt-1 text-xl">:</span>

		<Date dateType="Segundos" attribute={{ "data-seconds": "" }} />
	</div>
</section>

<script>
	import { initCountdown } from "@/utils/initCountdown"

	function init() {
		initCountdown()
	}
	init()
</script>
