---
import Date from "@/components/Date.astro"
import { EVENT_TIMESTAMP } from "@/consts/event-date"
---

<section class="mt-20 flex flex-col place-items-center gap-y-10 md:mt-60" aria-label="cuenta atrás">
	<p
		class="countdown-text max-w-[250px] text-balance text-center text-lg font-medium uppercase text-accent opacity-80 sm:max-w-full md:mb-36"
	>
		Para el inicio de la Velada Del año faltan...
	</p>

	<div
		class="grid w-full select-none grid-cols-3 flex-col items-center justify-center gap-y-20 uppercase text-primary md:gap-x-6 md:gap-y-11"
		data-date={EVENT_TIMESTAMP}
		role="timer"
	>
		<Date
			dateType="Días"
			attribute={{ "data-days": "" }}
			position="col-span-3"
			className="text-7xl text-accent md:text-[20rem]"
			wrapperClassName="my-8 md:my-0 md:-mt-16"
			height={"h-[3.80rem] md:h-[20rem]"}
			max={129}
		/>

		<Date
			wrapperClassName="my-8"
			dateType="Horas"
			attribute={{ "data-hours": "" }}
			className="text-7xl text-accent"
			height={"h-[3.80rem]"}
			max={23}
		/>

		<Date
			wrapperClassName="my-8"
			dateType="Minutos"
			attribute={{ "data-minutes": "" }}
			className="text-7xl text-accent"
			height={"h-[3.80rem]"}
			max={59}
		/>

		<Date
			wrapperClassName="my-8"
			dateType="Segundos"
			attribute={{ "data-seconds": "" }}
			className="text-7xl text-accent"
			height={"h-[3.80rem]"}
			max={59}
		/>
	</div>
</section>

<script>
	const SECOND = 1000
	const MINUTE = SECOND * 60
	const HOUR = MINUTE * 60
	const DAY = HOUR * 24

	function init() {
		const $countdown = document.querySelector("[data-date]")
		if (!$countdown) return

		let intervalId: NodeJS.Timer

		const $days = {
			firstDigit: $countdown.querySelector("[data-days] [data-first-group]"),
			secondDigit: $countdown.querySelector("[data-days] [data-second-group]"),
			thirdDigit: $countdown.querySelector("[data-days] [data-third-group]"),
		}

		const $hours = {
			firstDigit: $countdown.querySelector("[data-hours] [data-first-group]"),
			secondDigit: $countdown.querySelector("[data-hours] [data-second-group]"),
		}

		const $minutes = {
			firstDigit: $countdown.querySelector("[data-minutes] [data-first-group]"),
			secondDigit: $countdown.querySelector("[data-minutes] [data-second-group]"),
		}

		const $seconds = {
			firstDigit: $countdown.querySelector("[data-seconds] [data-first-group]"),
			secondDigit: $countdown.querySelector("[data-seconds] [data-second-group]"),
		}

		const timestamp = $countdown.getAttribute("data-date")
		if (!timestamp) return

		const date = new Date(+timestamp).getTime()

		const formatTime = (time: number) => {
			return Math.floor(time).toString().padStart(2, "0")
		}

		function animateDigit(group: HTMLElement, value: string) {
			const wrapper = group.querySelector("[data-wrapper]")
			const num = group.querySelector(`[data-num="${value}"]`)
			const xnum = group.querySelector("[data-num-x0]") // 0 añadido para la animación

			if (
				wrapper instanceof HTMLElement &&
				num instanceof HTMLElement &&
				xnum instanceof HTMLElement
			) {
				wrapper.style.transform = `translateY(-${num.offsetTop}px)`

				// Cuando cambie, volver arriba
				if (value === "0") {
					setTimeout(() => {
						wrapper.classList.toggle("duration-[800ms]", false)
						wrapper.classList.toggle("transition-transform", false)
						wrapper.style.transform = `translateY(-${xnum.offsetTop}px)`
					}, 800)
				} else {
					wrapper.classList.toggle("duration-[800ms]", true)
					wrapper.classList.toggle("transition-transform", true)
				}
			}
		}

		function updateCountdown() {
			const now = Date.now()
			const diff = date - now
			const $countdown = document.querySelector("[data-date]")
			if (!$countdown) return

			const days = formatTime(diff / DAY)
			const hours = formatTime((diff % DAY) / HOUR)
			const minutes = formatTime((diff % HOUR) / MINUTE)
			const seconds = formatTime((diff % MINUTE) / SECOND)

			if (
				$days.firstDigit instanceof HTMLElement &&
				$days.secondDigit instanceof HTMLElement &&
				$days.thirdDigit instanceof HTMLElement
			) {
				animateDigit($days.firstDigit, days[0])
				animateDigit($days.secondDigit, days[1])
				animateDigit($days.thirdDigit, days[2])
			}

			if ($hours.firstDigit instanceof HTMLElement && $hours.secondDigit instanceof HTMLElement) {
				animateDigit($hours.firstDigit, hours[0])
				animateDigit($hours.secondDigit, hours[1])
			}

			if (
				$minutes.firstDigit instanceof HTMLElement &&
				$minutes.secondDigit instanceof HTMLElement
			) {
				animateDigit($minutes.firstDigit, minutes[0])
				animateDigit($minutes.secondDigit, minutes[1])
			}

			if (
				$seconds.firstDigit instanceof HTMLElement &&
				$seconds.secondDigit instanceof HTMLElement
			) {
				animateDigit($seconds.firstDigit, seconds[0])
				animateDigit($seconds.secondDigit, seconds[1])
			}

			if (diff < 1000) {
				clearInterval(intervalId)
				document.querySelector(".countdown-text")?.remove()

				$countdown.innerHTML = "¡El evento de presentación ha empezado! 🎉"
				$countdown.className =
					"text-primary uppercase font-semibold animate-fade-in text-3xl text-center"
			}
		}

		intervalId = setInterval(updateCountdown, SECOND)
		updateCountdown()
	}

	document.addEventListener("astro:page-load", () => {
		init()
	})
</script>
