---
import LaVeladaLogo from "@/icons/la-velada.astro"
import Date from "@/components/Date.astro"
import { EVENT_TIMESTAMP } from "@/consts/event-date"
---

<section class="my-0 lg:my-32 flex flex-col gap-y-10 place-items-center">
  
  <LaVeladaLogo class="text-primary" />
  <p
    class="uppercase text-lg font-medium text-primary opacity-80 text-center text-balance"
  >
    Para el Evento de Presentación faltan
  </p>
  
  <div
    class="flex flex-row gap-x-1 text-primary uppercase font-semibold"
    data-date={EVENT_TIMESTAMP}
  >
    <Date time="00" dateType="Días" attribute={{ "data-days": "" }} />

    <span aria-hidden="true" class="mt-1 text-xl">:</span>

    <Date time="00" dateType="Horas" attribute={{ "data-hours": "" }} />

    <span aria-hidden="true" class="mt-1 text-xl">:</span>

    <Date time="00" dateType="Minutos" attribute={{ "data-minutes": "" }} />

    <span aria-hidden="true" class="mt-1 text-xl">:</span>

    <Date time="00" dateType="Segundos" attribute={{ "data-seconds": "" }} />
  </div>
</section>

<script>
  const SECOND = 1000
  const MINUTE = SECOND * 60
  const HOUR = MINUTE * 60
  const DAY = HOUR * 24

  function init() {
    const $countdown = document.querySelector("[data-date]")
    if (!$countdown) return

    const $days = $countdown.querySelector("[data-days]")
    const $hours = $countdown.querySelector("[data-hours]")
    const $minutes = $countdown.querySelector("[data-minutes]")
    const $seconds = $countdown.querySelector("[data-seconds]")

    const timestamp = $countdown.getAttribute("data-date")
    if (!timestamp) return

    const date = new Date(+timestamp).getTime()

    const formatTime = (time: number) => {
      return Math.floor(time).toString().padStart(2, "0")
    }

    function updateCountdown() {
      const now = Date.now()
      const diff = date - now

      if ($days instanceof HTMLElement) {
        $days.innerText = formatTime(diff / DAY)
      }

      if ($hours instanceof HTMLElement) {
        $hours.innerText = formatTime((diff % DAY) / HOUR)
      }

      if ($minutes instanceof HTMLElement) {
        $minutes.innerText = formatTime((diff % HOUR) / MINUTE)
      }

      if ($seconds instanceof HTMLElement) {
        $seconds.innerText = formatTime((diff % MINUTE) / SECOND)
      }
    }

    setInterval(updateCountdown, SECOND)
    updateCountdown()
  }

  init()
</script>
