---
import CountdownSmall from '@/components/CountdownSmall.astro'
---

<section class="animate-fade-in animate-delay-400 mb-0 mt-32 flex flex-col items-center gap-4">
  <div class="pointer-events-none relative inset-0 z-0">
    <img
      src="/images/entradas-la-velada.webp"
      alt=""
      aria-hidden="true"
      class="absolute -z-10 mx-auto max-w-4xl scale-110 object-center opacity-70 blur-xl brightness-75"
      loading="lazy"
      decoding="async"
    />
    <img
      src="/images/entradas-la-velada.webp"
      alt="Entradas La Velada a la venta"
      class="z-10 w-full max-w-4xl rounded-lg"
      loading="lazy"
      decoding="async"
    />
  </div>
  <p
    class="z-50 rounded-lg border border-white bg-pink-400/90 px-6 py-2 text-lg font-bold text-center text-white shadow-md sm:text-2xl"
  >
    ¡Entradas a la venta el <span class="underline">1 de mayo</span>!
  </p>
  <!-- <CountdownSmall timestamp={1745122400000} /> -->
</section>
