<section
  class="animate-fade-in animate-delay-400 mb-0 mt-32 flex max-w-4xl flex-col items-center gap-4 px-5 py-36 md:mx-auto"
>
  <div class="pointer-events-none relative inset-0 z-0">
    <img
      src="/images/entradas-la-velada.webp"
      alt=""
      aria-hidden="true"
      class="absolute inset-0 -z-10 mx-auto scale-105 object-center opacity-70 blur-xl brightness-75"
      loading="lazy"
      decoding="async"
    />
    <img
      src="/images/entradas-la-velada.webp"
      alt="Entradas La Velada a la venta"
      class="z-10 w-full max-w-4xl rounded-lg"
      loading="lazy"
      decoding="async"
    />
  </div>
  <a
    class="group relative z-50 flex items-center justify-center overflow-hidden text-wrap rounded-lg border border-white bg-pink-400/90 px-6 py-2 text-center text-lg font-bold text-white shadow-md transition hover:scale-110 hover:shadow-xl sm:text-2xl"
    href="https://www.entradas.com/artist/la-velada-del-ano/la-velada-del-ano-v-3883352/?affiliate=LVL"
    rel="noopener noreferrer"
    target="_blank"
    title="Comprar entradas para La Velada V"
  >
    <div
      class="width-full absolute inset-0 -translate-x-full bg-gradient-to-r from-transparent via-white/20 to-transparent transition-transform duration-700 ease-in-out group-hover:translate-x-full"
    >
    </div>
    ¡Entradas ya a la venta!
  </a>
</section>
