---
import Action from "@/components/Action.astro"
import HeroLogo from "@/components/HeroLogo.astro"

const { error, message } = Astro.props
---

<section class="mt-8 flex flex-col place-items-center text-primary md:mt-16">
	<HeroLogo
		class="h-auto w-[300px] text-primary animate-duration-0 md:w-[500px]"
		disableAnimation
	/>
	<div class="mt-16 text-center">
		<h1 class="text-5xl font-semibold uppercase text-white md:text-6xl">Error {error}</h1>
		<h1 class="mt-5 text-2xl font-semibold uppercase md:text-4xl">{message}</h1>
	</div>
	<Action class="mt-5 text-center" href="/" aria-label="volver a la página principal" as="a"
		>Volver</Action
	>
</section>
