---
import ThemeToggle from "@/components/ThemeToggle.astro"
import InstagramIcon from "@/icons/instagram.astro"
import XIcon from "@/icons/x.astro"
---

<footer
  class="mt-20 w-full border-primary border-t-2 flex flex-col md:flex-row place-items-center md:justify-between pt-6 pb-20"
>
  <span class="text-primary text-center">
    &copy; 2024 La Velada del Año <span
      aria-hidden="true"
      class="hidden md:inline">|</span
    ><br aria-hidden="true" class="block md:hidden" /> Todos los derechos reservados.
  </span>
  <span
    aria-hidden="true"
    class="md:hidden border-primary border-t-2 w-full mt-6 pt-6"></span>

  <nav>
    <ul class="flex flex-row gap-x-6 items-center" aria-label="redes sociales y botón para alternar tema">
      <li>
        <a
          target="_blank"
          rel="noopener"
          aria-label="Instagram de la velada, se abrirá en una nueva pestaña"
          href="https://www.instagram.com/infolavelada"
          class="any-hover:scale-125 any-hover:opacity-70 transition inline-block"
        >
          <InstagramIcon class="text-primary" />
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener"
          aria-label="X de la velada, se abrirá en una nueva pestaña"
          href="https://x.com/infoLaVelada"
          class="any-hover:scale-125 any-hover:opacity-70 transition inline-block"
        >
          <XIcon class="text-primary" />
        </a>
      </li>
      <li>
        <ThemeToggle />
      </li>
    </ul>
  </nav>
</footer>
