---
import SelectLanguage from "@/components/SelectLanguage.astro";
---

<footer
  class="mt-20 w-full border-primary border-t-2 flex flex-col md:flex-row place-items-center md:justify-between pt-6 pb-20"
>
  <span class="text-primary text-center">
    © 2024 La Velada del Año <span aria-hidden="true" class="hidden md:inline">|</span
    ><br aria-hidden="true" class="block md:hidden" /> Todos los derechos reservados.
  </span>
  <span aria-hidden="true" class="md:hidden border-primary border-t-2 w-full mt-6 pt-6"></span>

  <nav>
    <ul class="flex flex-row gap-x-6 items-center">
      <li>
        <a
          target="_blank"
          rel="noopener"
          href="https://www.instagram.com/infolavelada"
          class="hover:scale-125 hover:opacity-70 transition inline-block"
        >
          <img src="./instagram.svg" loading="lazy" alt="Instagram de la velada" />
        </a>
      </li>
      <li>
        <a
          class="hover:scale-125 hover:opacity-70 transition inline-block"
          target="_blank"
          rel="noopener"
          href="https://x.com/infoLaVelada"
        >
          <img src="./x.svg" loading="lazy" alt="Twitter de la velada" />
        </a>
      </li>
    </ul>
  </nav>
  
</footer>
