---
import ThemeToggle from "@/components/ThemeToggle.astro"
import InstagramIcon from "@/icons/instagram.astro"
import XIcon from "@/icons/x.astro"
---

<footer
	class="mt-20 flex w-full flex-col place-items-center border-t-2 border-primary pb-20 pt-6 md:flex-row md:justify-between"
>
	<span class="text-center text-primary">
		&#169; 2024 La Velada del Año <span aria-hidden="true" class="hidden md:inline">|</span><br
			aria-hidden="true"
			class="block md:hidden"
		/> Todos los derechos reservados.
	</span>
	<span aria-hidden="true" class="mt-6 w-full border-t-2 border-primary pt-6 md:hidden"></span>

	<nav>
		<ul class="flex flex-row items-center gap-x-6">
			<li>
				<a
					target="_blank"
					rel="noopener"
					aria-label="Instagram de la velada"
					href="https://www.instagram.com/infolavelada"
					class="inline-block transition hover:scale-125 hover:opacity-70"
				>
					<InstagramIcon class="text-primary" />
				</a>
			</li>
			<li>
				<a
					target="_blank"
					rel="noopener"
					aria-label="X de la velada"
					href="https://x.com/infoLaVelada"
					class="inline-block transition hover:scale-125 hover:opacity-70"
				>
					<XIcon class="text-primary" />
				</a>
			</li>
			<li>
				<ThemeToggle />
			</li>
		</ul>
	</nav>
</footer>
