---
import Velocimetro from "@/components/Velocimetro.astro"
import { type Boxer } from "@/consts/boxers"

export interface BoxerWithForecast extends Boxer {
	forecast: number
}
interface Props {
	count: number
	combatNumber: string
	boxers: BoxerWithForecast[]
}

const { count, combatNumber, boxers } = Astro.props
---

<section class="flex flex-col items-center">
	<h2 class="text-xl font-semibold uppercase text-white">Pronóstico</h2>
	<p class="text-xl text-primary">Probabilidad de victoria basada en {count} predicciones</p>
	<Velocimetro percentage={100} />
	<ul>
		{
			boxers.map(({ name, forecast }) => (
				<li>
					{name} - {forecast * 100}%
				</li>
			))
		}
	</ul>
</section>
