---
import HeroLogo from "@/components/HeroLogo.astro"
---

<section class="flex flex-col place-items-center gap-9">
  <span
    class="animate-fade-in animate-delay-300 text-xl uppercase text-secondary bg-primary px-6 py-1 font-medium"
  >
    Presentación de la
  </span>
  <HeroLogo
    class="text-primary animate-fade-in-up w-[300px] h-auto md:w-[600px]"
  />
</section>
