---
import HeroLogo from "@/components/HeroLogo.astro"
---

<section class="flex flex-col place-items-center gap-4 lg:gap-9">
	<h1 class="sr-only bg-black/30">Presentación de la Velada del Año IV</h1>
	<a
		class="-rotate-6 font-atomic text-4xl text-white underline-offset-8 transition hover:scale-110 hover:underline"
		href="https://www.twitch.tv/ibai"
		target="_blank"
		rel="noopener"
		title="Enlace al canal de Twitch de Ibai Llanos"
		aria-label="Enlace al canal de Twitch de Ibai Llanos"
		>twitch.tv/ibai
	</a>
	<div class="relative">
		<img
			class="absolute inset-0 -z-10 m-auto block h-auto w-full max-w-[400px] scale-[135%] md:scale-[175%]"
			src="/img/drawn-x-logo.webp"
			alt="Logo dibujado a mano de La Velada del Año IV"
		/>
		<div
			class="absolute inset-0 -z-10 m-auto w-full rounded-full bg-black opacity-70 blur-2xl md:size-[400px]"
		>
		</div>
		<HeroLogo class="h-auto w-[250px] overflow-visible md:w-[500px]" />
	</div>
</section>
