---
import TwitchLogo from "@/components/TwitchLogo.astro"
import Typography from "@/components/Typography.astro"
---

<section
	class="group mb-32 mt-44 flex w-full flex-col items-center justify-center px-20 font-medium text-primary md:mt-80"
	aria-label="descripción del evento"
>
	<hr
		class="h-[2px] min-w-[20rem] max-w-lg border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent sm:w-full"
	/>

	<a
		href="https://www.twitch.tv/ibai"
		target="_blank"
		rel="nofollow noopener"
		class="group/twitch -mt-7 mb-8 sm:mt-0"
		aria-hidden="true"
		tabindex="-1"
		title="Enlace al canal de Twitch de Ibai Llanos"
	>
		<div
			class="mx-auto -mt-1 w-14 scale-50 group-hover/twitch:scale-[0.60] motion-safe:transition sm:-mt-8 sm:mb-4 sm:scale-75 sm:group-hover/twitch:scale-100 md:-mt-8 md:mb-9 md:scale-110 md:group-hover/twitch:scale-125"
		>
			<TwitchLogo />
		</div>

		<div class="duration-200 group-hover/twitch:scale-110 motion-safe:transition">
			<span
				class="skew-x-10 block -rotate-6 text-center font-atomic text-xs text-white underline-offset-8 transition sm:text-2xl md:text-5xl"
				>en directo
			</span>
			<Typography
				as="h2"
				variant="bigger"
				color="primary"
				class:list={"-mt-2 text-wrap text-center"}
				class="flex justify-center text-xl md:text-5xl"
			>
				twitch.tv/ibai
			</Typography>
		</div>
	</a>

	<hr
		class="h-[2px] min-w-[20rem] max-w-lg border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent sm:my-7 sm:w-full md:my-9"
	/>
</section>
