---

---

<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
  <div class="flex justify-center items-center">
    <a
      href="https://twitch.tv/ibai"
      target="_blank"
      rel="nofollow noopener"
      class="hover:scale-125 hover:opacity-70 transition inline-block"
    >
      <img src="./twitch.svg" alt="Logo de Twitch" />
    </a>
  </div>

  <div
    class="grid uppercase text-center gap-x-10 [grid-template-columns:1fr] md:[grid-template-columns:1fr_1.5fr_1fr]"
  >
    <article
      class="order-2 md:flex-grow md:order-none flex justify-center items-center text-xl py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary"
    >
      <h5 class="w-56 text-center">
        Presentación, Pesaje, Entrevista y Cara a Cara
      </h5>
    </article>

    <article
      class="order-1 md:flex-1 md:order-none flex justify-center items-center text-4xl py-10 md:py-12 lg:py-20 px-10 border-t-2 md:border-y-2 border-primary"
    >
      <h4>
        <a
          class="hover:text-purple-800 transition hover:scale-110 inline-block"
          href="https://twitch.tv/ibai"
          target="_blank"
          rel="nofollow noopener"
        >
          Síguelo en directo twitch.tv/ibai
        </a>
      </h4>
    </article>

    <article
      class="order-3 md:order-none text-xl py-10 sm:py-12 md:py-12 lg:py-20 px-10 border-b-2 md:border-y-2 border-primary flex justify-center items-center"
    >
      <h5>Con la presencia de los boxeadores y boxeadoras</h5>
    </article>
  </div>
</section>
