---

---

<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
  <a
    href="https://twitch.tv/ibai"
    target="_blank"
    rel="nofollow noopener"
    class="hover:scale-125 hover:opacity-70 transition mx-auto focus-visible:scale-125 focus-visible:opacity-70 rounded-sm"
    aria-label="Síguelo en directo twitch.tv/ibai"
  >
    <svg
      class="twitch text-primary detect-in-viewport"
      width="78"
      height="91"
      fill="none"
      viewBox="0 0 78 91"
      ><path
        fill="currentColor"
        d="M16.6001.600098.600098 16.6001v57.6H19.8001v16l16-16h12.8l28.8-28.8V.600098h-60.8Z"
      ></path><path
        fill="var(--background-color)"
        d="m58.2003 55 12.8-12.8V7h-51.2v48h12.8v12.8l12.8-12.8h12.8Z"
      ></path><path
        fill="currentColor"
        d="M39 19.8h6.4V39H39V19.8Zm22.4 0V39H55V19.8h6.4Z"></path>
    </svg>
  </a>

  <div
    class="grid uppercase text-center gap-x-10 [grid-template-columns:1fr] md:grid-cols-[repeat(auto-fit,_minmax(150px,_1fr))] lg:[grid-template-columns:1fr_1.5fr_1fr]"
  >
    <article
      class="order-2 md:flex-grow md:order-none flex justify-center items-center text-xl text-center py-10 md:py-12 lg:py-20 md:px-0 px-10 border-y-2 border-primary"
    >
      <h3 class="text-balance md:max-w-[250px]">
        Presentación, Pesaje, Entrevista y Cara a Cara
      </h3>
    </article>

    <article
      class="order-1 md:flex-1 md:order-none flex justify-center items-center text-3xl lg:text-4xl py-10 md:py-12 lg:py-20 px-10 md:px-0 lg:px-0 border-t-2 md:border-y-2 border-primary"
    >
      <h3 class="md:max-w-[250px]">
        <a
          class="hover:text-twitch transition-transform hover:scale-110 focus-visible:text-twitch focus-visible:scale-110 grid place-items-center rounded-sm"
          href="https://twitch.tv/ibai"
          target="_blank"
          rel="nofollow noopener"
        >
          Síguelo en directo <span
            class="twitch-link detect-in-viewport transition-colors"
            >twitch.tv/ibai</span
          >
        </a>
      </h3>
    </article>

    <article
      class="order-3 md:order-none text-xl py-10 sm:py-12 md:py-12 lg:py-20 px-10 md:px-0 border-b-2 md:border-y-2 border-primary flex justify-center items-center"
    >
      <h3 class="text-balance md:max-w-[250px]">
        Con la presencia de los boxeadores y las boxeadoras
      </h3>
    </article>
  </div>
</section>

<style>
  .twitch-link,
  svg {
    @apply text-twitch;
  }

  @supports (animation-timeline: view()) {
    svg {
      animation-timeline: view();
      animation-name: show;
      animation-timing-function: ease-in;
    }

    :not(a:hover) > .twitch-link {
      animation-timeline: view(block);
      animation-name: show;
      animation-timing-function: ease-in;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    svg {
      animation-name: none;
    }
  }

  @keyframes show {
    from {
      @apply text-primary;
    }

    50% {
      @apply text-twitch;
    }

    100% {
      @apply text-twitch;
    }
  }
</style>
