---
import TwitchLogo from "@/components/TwitchLogo.astro"
import Typography from "@/components/Typography.astro"
---

<section
	class="group mb-48 flex w-full flex-col items-center justify-center px-20 font-medium text-primary md:pt-16"
	aria-label="descripción del evento"
>
	<hr
		class="h-[2px] min-w-[20rem] max-w-lg border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent sm:w-full"
	/>

	<a
		href="https://www.twitch.tv/ibai"
		target="_blank"
		rel="nofollow noopener"
		class="group/twitch mb-8 mt-0"
		aria-hidden="true"
		tabindex="-1"
		title="Enlace al canal de Twitch de Ibai Llanos"
	>
		<div
			class="mx-auto -mt-8 mb-4 w-14 scale-75 group-hover/twitch:scale-90 motion-safe:transition md:-mt-8 md:mb-9 md:scale-110 md:group-hover/twitch:scale-125"
		>
			<TwitchLogo />
		</div>

		<div class="duration-200 group-hover/twitch:scale-110 motion-safe:transition">
			<span
				class="skew-x-10 block -rotate-6 text-center font-atomic text-xl text-white underline-offset-8 transition sm:text-2xl md:text-5xl"
				>en directo
			</span>
			<Typography
				as="h2"
				variant="bigger"
				color="primary"
				class:list={"-mt-2 text-wrap text-center"}
				class="flex justify-center text-2xl md:text-5xl"
			>
				twitch.tv/ibai
			</Typography>
		</div>
	</a>

	<hr
		class="my-7 h-[2px] w-full min-w-[20rem] max-w-lg border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent md:my-9"
	/>
</section>
