---
import TwitchLogo from "@/components/TwitchLogo.astro"
import Typography from "@/components/Typography.astro"
---

<section
	class="mb-32 mt-80 flex flex-col justify-center px-20 font-medium text-primary"
	aria-label="descripción del evento"
>
	<hr
		class="-z-10 -mt-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400"
	/>
	<a
		href="https://twitch.tv/ibai"
		target="_blank"
		rel="nofollow noopener"
		class="mx-auto -mt-11 mb-8 motion-safe:transition"
		aria-label="síguelo en directo twitch.tv/ibai, se abrirá en una nueva pestaña"
	>
		<TwitchLogo />
	</a>

	<a
		class="-rotate-6 text-center font-atomic text-4xl text-white underline-offset-8 transition hover:scale-110 hover:underline"
		href="https://www.twitch.tv/ibai"
		target="_blank"
		rel="noopener"
		title="Enlace al canal de Twitch de Ibai Llanos"
		aria-label="Enlace al canal de Twitch de Ibai Llanos"
		>En directo
	</a>
	<article class="flex justify-center">
		<Typography as="h2" variant="big" color="primary" class:list={"-mt-2 text-wrap text-center"}>
			twitch.tv/ibai
		</Typography>
	</article>
	<hr
		class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400"
	/>
</section>
