---
import TwitchLogo from "@/components/TwitchLogo.astro"
import Typography from "@/components/Typography.astro"
---

<section
	class="group mb-4 mt-80 flex w-full flex-col items-center justify-center px-20 font-medium text-primary md:mb-0"
	aria-label="descripción del evento"
>
	<hr
		class="-z-10 -mt-12 h-[2px] min-w-[20rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent sm:w-full sm:max-w-64 md:max-w-lg"
	/>
	<div class="-mt-11 transition duration-200 hover:scale-110 motion-safe:transition">
		<a
			href="https://www.twitch.tv/ibai"
			target="_blank"
			rel="nofollow noopener"
			class="mx-auto flex flex-col items-center"
			aria-hidden="true"
			tabindex="-1"
			aria-label="Enlace al canal de Twitch de Ibai Llanos"
		>
			<div class="mb-8 w-14 md:w-20">
				<TwitchLogo />
			</div>
			<span
				class="-rotate-6 skew-x-6 text-center font-atomic text-xl text-white underline-offset-8 transition sm:text-3xl md:text-5xl"
				>en directo
			</span>
			<Typography
				as="h2"
				variant="bigger"
				color="primary"
				class:list={"-mt-2 text-wrap text-center"}
				class="flex justify-center transition"
			>
				twitch.tv/ibai
			</Typography>
		</a>
	</div>

	<hr
		class="my-12 h-[2px] min-w-[20rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent sm:w-full sm:max-w-64 md:max-w-lg"
	/>
</section>
