---
import TwitchLogo from "@/components/TwitchLogo.astro"
---

<section
	class="my-32 flex flex-col gap-y-10 font-medium text-primary"
	aria-label="descripción del evento"
>
	<a
		href="https://twitch.tv/ibai"
		target="_blank"
		rel="nofollow noopener"
		class="mx-auto transition hover:scale-125"
		aria-label="síguelo en directo twitch.tv/ibai, se abrirá en una nueva pestaña"
	>
		<TwitchLogo />
	</a>

	<div
		class="grid gap-x-10 text-center uppercase [grid-template-columns:1fr] md:grid-cols-[repeat(auto-fit,_minmax(150px,_1fr))] lg:[grid-template-columns:1fr_1.5fr_1fr]"
	>
		<article
			class="order-2 flex items-center justify-center border-y-2 border-primary px-10 py-10 text-center text-xl md:order-none md:flex-grow md:px-0 md:py-12 lg:py-20"
		>
			<h3 class="text-balance md:max-w-[250px]">Presentación, Pesaje, Entrevista y Cara a Cara</h3>
		</article>

		<article
			class="order-1 flex items-center justify-center border-t-2 border-primary px-10 py-10 text-3xl md:order-none md:flex-1 md:border-y-2 md:px-0 md:py-12 lg:px-0 lg:py-20 lg:text-4xl"
		>
			<h3
				class="md:max-w-[250px]"
				aria-label="síguelo en directo twitch.tv/ibai, se abrirá en una nueva pestaña"
			>
				<a
					class="inline-block transition-transform hover:scale-110 hover:text-twitch"
					href="https://twitch.tv/ibai"
					target="_blank"
					rel="nofollow noopener"
				>
					Síguelo en directo <span class="text-twitch transition-colors">twitch.tv/ibai</span>
				</a>
			</h3>
		</article>

		<article
			class="order-3 flex items-center justify-center border-b-2 border-primary px-10 py-10 text-xl sm:py-12 md:order-none md:border-y-2 md:px-0 md:py-12 lg:py-20"
		>
			<h3 class="text-balance md:max-w-[250px]">
				Con la presencia de los boxeadores y las boxeadoras
			</h3>
		</article>
	</div>
</section>
