---
import SectionTitle from '@/components/SectionTitle.astro'
import LiteYouTube from '@/components/LiteYouTube.astro'

const PRESENTATION_VIDEO_ID = 't7r5O_5B-E0'
---

<section id="presentation" class="mx-auto max-w-4xl py-36">
  <SectionTitle title="Presentación de la Velada V" />

  <LiteYouTube
    videoId={PRESENTATION_VIDEO_ID}
    title="Presentación de La Velada V"
    backgroundImage="/images/presentation-video-cover.webp"
  />
</section>
