---
import LiteYouTube from "@/components/LiteYouTube.astro"
import Typography from "@/components/Typography.astro"
---

<section class="my-40 px-2 md:my-80">
	<Typography as="h3" class:list={"text-center text-white"}> Presentación </Typography>

	<Typography
		as="p"
		class:list={"mx-auto mt-4 max-w-[250px] text-wrap text-center text-neutral-300"}
	>
		Vuelve a ver la presentación desde el Teatro Victoria
	</Typography>

	<div class="relative mt-8">
		<img
			aria-hidden="true"
			class="absolute inset-0 -z-10 m-auto scale-125"
			src="/img/drawn-x-logo.webp"
			alt="Logo X de La Velada dibujado a mano"
		/>

		<LiteYouTube videoId="ct0Hr6zYZGU" backgroundImage="/img/video-presentation-cover.webp" />
	</div>
</section>
