---
import DrawnXLogo from "@/components/DrawnXLogo.astro"
import LiteYouTube from "@/components/LiteYouTube.astro"
import Typography from "@/components/Typography.astro"
---

<section class="mt-10 overflow-hidden px-2 pb-48 pt-16 sm:pb-56 sm:pt-20 md:pb-96 md:pt-60">
	<Typography as="h3" variant="h3" color="white" class:list={"text-center"}>
		Presentación
	</Typography>

	<Typography
		as="p"
		variant="body"
		color="neutral"
		class:list={"mx-auto mt-4 max-w-[250px] text-wrap text-center"}
	>
		Vuelve a ver la presentación desde el Teatro Victoria
	</Typography>

	<div class="relative mt-8">
		<DrawnXLogo
			class:list={"absolute inset-0 -z-10 m-auto scale-125 select-none drop-shadow-[0_0_40px_rgba(213,255,0,1)]"}
		/>
		<LiteYouTube videoId="ct0Hr6zYZGU" backgroundImage="/img/video-presentation-cover.webp" />
	</div>
</section>
