<section
  class="animate-fade-in animate-delay-500 mt-32 mx-auto flex flex-col justify-center items-center text-center text-primary"
>
  <h2 class="uppercase text-5xl font-semibold">
    <time class="date"> 4 de marzo</time>
    <span aria-hidden="true" class="hidden md:inline mx-1">·</span>
    <br aria-hidden="true" class="block md:hidden" />
    <time class="time"></time>
  </h2>

  <h3 class="uppercase text-2xl font-medium flex flex-col max-w-sm mt-6">
    <span>Evento de Presentación</span>
    <span>Teatro Victoria (Barcelona)</span>
  </h3>

  <a
    class={`
    border-primary border-2 font-medium uppercase text-lg
    px-4 py-1 mt-8
    hover:bg-slate-300 hover:scale-125
    transition inline-block
  `}
    href="https://www.teatrevictoria.com/es/cartelera/c/190_la-velada-del-ano-4.html"
    target="_blank"
    rel="noopener noreferrer"
  >
    Entradas agotadas
  </a>
</section>

<script is:inline>
  const $dateSpan = document.querySelector(".date")
  const $timeSpan = document.querySelector(".time")

  const USER_TZ = Intl.DateTimeFormat().resolvedOptions().timeZone
  const DATE_TIMESTAMP = 1709575200000
  const date = new Date(DATE_TIMESTAMP)

  const timeFormatOptions = {
    hour: "numeric",
    minute: "numeric",
    hour12: false,
    timeZone: USER_TZ,
    timeZoneName: "short"
  }

  const dateFormatOptions = {
    day: "numeric",
    month: "long",
    timeZone: USER_TZ
  }

  // Se usa la configuración regional "en-GB" para mostrar la abreviatura de la zona horaria (CET, PST, EST...) y no su valor en GMT
  const time = new Intl.DateTimeFormat("en-GB", timeFormatOptions)
    .formatToParts(date)
    .map(({ type, value }) => {
      if (type === "literal" && value === " ") {
        return "H "
      }
      return value
    })
    .join("")

  const day = new Intl.DateTimeFormat("es-ES", dateFormatOptions).format(date)

  $dateSpan.innerHTML = day
  $timeSpan.innerHTML = time
</script>
