---
import CalendarButton from "../components/CalendarButton.astro"
import MapMarkerIcon from "@/icons/map-marker.astro"
---

<section
	class="mx-auto mt-16 flex animate-fade-in flex-col place-items-center text-center text-primary animate-delay-[2s] md:mt-32"
>
	<div class="text-3xl font-semibold uppercase md:text-5xl">
		<time class="date"> 4 de marzo</time>
		<span aria-hidden="true" class="mx-1 hidden md:inline">·</span>
		<br aria-hidden="true" class="block md:hidden" />
		<time class="time"></time>
	</div>

	<h2 class="mt-6 flex max-w-sm flex-col text-lg font-medium uppercase lg:text-2xl">
		<span>Evento de Presentación</span>
		<a
			href="https://maps.app.goo.gl/RFzHUVDhRqdQaTAo8"
			class="inline-block align-middle transition hover:scale-110 hover:opacity-60"
			target="_blank"
			rel="noopener"
			style="display: -webkit-box;"
		>
			<MapMarkerIcon class="mr-1 max-md:mt-1 md:mt-0.5 md:size-6" /> Teatro Victoria (Barcelona)
		</a>
	</h2>

	<div class="mt-6 flex flex-col items-center gap-6 md:flex-row">
		<a
			class:list={`
                inline-block border-2 border-primary px-4 py-1
                text-lg font-medium
                uppercase transition hover:scale-110
                hover:bg-primary hover:text-secondary
            `}
			href="https://www.teatrevictoria.com/es/cartelera/c/190_la-velada-del-ano-4.html"
			target="_blank"
			rel="noopener noreferrer"
		>
			Entradas agotadas
		</a>

		<CalendarButton />
	</div>
</section>

<script>
	import { EVENT_TIMESTAMP } from "@/consts/event-date"

	const $dateSpan = document.querySelector(".date")
	const $timeSpan = document.querySelector(".time")

	const USER_TZ = Intl.DateTimeFormat().resolvedOptions().timeZone
	const date = new Date(EVENT_TIMESTAMP)

	const eventHasPassed = EVENT_TIMESTAMP < Date.now()

	if (eventHasPassed) {
		document.getElementById("add-to-calendar")?.remove()
	}

	const timeFormatOptions: Intl.DateTimeFormatOptions = {
		hour: "numeric",
		minute: "numeric",
		hour12: false,
		timeZone: USER_TZ,
		timeZoneName: "short",
	}

	const dateFormatOptions: Intl.DateTimeFormatOptions = {
		day: "numeric",
		month: "long",
		timeZone: USER_TZ,
	}

	const validDatetimeAttrOptions: Intl.DateTimeFormatOptions = {
		timeZone: USER_TZ,
		year: "numeric",
		month: "2-digit",
		day: "2-digit",
		hour: "2-digit",
		minute: "2-digit",
		second: "2-digit",
		hour12: false,
	}

	// The "en-GB" locale is used to display the time zone abbreviation (CET, PST, EST...) and not its value in GMT
	const time = new Intl.DateTimeFormat("en-GB", timeFormatOptions)
		.formatToParts(date)
		.map(({ type, value }) => {
			if (type === "literal" && value === " ") {
				return "H "
			}
			return value
		})
		.join("")

	const day = new Intl.DateTimeFormat("es-ES", dateFormatOptions).format(date)

	/**
	 * Se usa la configuración regional "en-CA" para obtener de forma más fácil el formato `yyyy-mm-dd`
	 * source: https://stackoverflow.com/a/63490548
	 * El datetime strings válido usado es: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time#a_valid_local_date_and_time_string
	 */
	const validDatetime = new Intl.DateTimeFormat("en-CA", validDatetimeAttrOptions).format(date)

	if ($dateSpan != null && $timeSpan != null) {
		$dateSpan.innerHTML = day
		$dateSpan.setAttribute("datetime", validDatetime)
		$timeSpan.innerHTML = time
		$timeSpan.setAttribute("datetime", validDatetime)
	}
</script>
