---
import Typography from "@/components/Typography.astro"
---

<section class="mb-32">
	<Typography as="h3" variant="h3" color="white" class:list={"text-center"}>
		Promociones
	</Typography>
	<div class="mt-10 flex flex-col gap-y-10">
		<a
			class="mx-auto w-full transition-[0.6s] hover:scale-105 hover:contrast-125"
			href="https://www.instagram.com/ganasdevicio"
			target="_blank"
			rel="noopener"
		>
			<img
				class="mx-auto h-auto w-full max-w-[800px] overflow-hidden rounded-lg"
				width="1016"
				height="150"
				src="https://cdn.lavelada.dev/vicio-show-b.png"
				alt="Abre tu cuenta en Revolut y consigue 20€ al comprar tu entrada de La Velada IV"
			/>
		</a>
		<a
			class="mx-auto w-full transition-[0.6s] hover:scale-105 hover:contrast-125"
			href="https://revolut.onelink.me/qn5U/velada"
			target="_blank"
			rel="noopener"
		>
			<img
				class="mx-auto h-auto w-full max-w-[800px] overflow-hidden rounded-lg"
				width="1016"
				height="150"
				src="https://cdn.lavelada.dev/revolut-show.webp"
				alt="Abre tu cuenta en Revolut y consigue 20€ al comprar tu entrada de La Velada IV"
			/>
		</a>
		<a
			class="mx-auto w-full transition-[0.6s] hover:scale-105 hover:contrast-125"
			href="https://bit.ly/4ap0ibz"
			target="_blank"
			rel="noopener"
		>
			<img
				class="mx-auto h-auto w-full max-w-[800px] overflow-hidden rounded-lg"
				width="1016"
				height="150"
				src="https://cdn.lavelada.dev/alsa-promo.png"
				alt="Alsa tiene bonos gratis para llegar a La Velada IV"
			/>
		</a>
	</div>
</section>
