---
const SPONSORS = [
	{
		id: "vicio",
		name: "Vicio",
		url: "https://www.ganasdevicio.com/",
	},
	{
		id: "revolut",
		name: "Revolut",
		url: "https://revolut.com/",
	},
	{
		id: "el-pozo",
		name: "El Pozo",
		url: "https://elpozo.com/",
	},
	{
		id: "grefusa",
		name: "Grefusa",
		url: "https://grefusa.com/",
	},
	{
		id: "spotify",
		name: "Spotify",
		url: "https://spotify.com/",
	},
	{
		id: "cerave",
		name: "Cerave",
		url: "https://cerave.es/",
	},
	{
		id: "prime",
		name: "Prime",
		url: "https://drinkprime.com/",
	},
	{
		id: "alsa",
		name: "Alsa",
		url: "https://alsa.es/",
	},
	{
		id: "maxibon",
		name: "Maxibon",
		url: "https://maxibon.es/",
	},
]
---

<section class="my-40">
	<h3 class="text-center text-2xl font-semibold uppercase text-white">Patrocinadores</h3>
	<p class="mt-4 text-center text-xl text-neutral-300">
		La Velada puede llevarse a cabo gracias a la colaboración de...
	</p>

	<div class="mt-12 grid grid-cols-2 gap-8 md:grid-cols-3">
		{
			SPONSORS.map(({ id, name, url }) => (
				<a
					class="sponsor-link group relative flex h-24 items-center justify-center overflow-hidden md:h-32"
					title={`Visita la página del patrocinador ${name}`}
					href={url}
					target="_blank"
					rel="noopener"
				>
					<img
						loading="lazy"
						src={`/img/${id}.svg`}
						alt={`Logo del patrocinador ${name}`}
						class="w-30 h-auto transition group-hover:scale-110"
					/>
				</a>
			))
		}
	</div>
</section>
<style>
	.sponsor-link {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
		transition: all 0.5s ease;
	}

	.sponsor-link::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, transparent 100%);
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	.sponsor-link:hover::before {
		opacity: 1;
		height: 100%;
		box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.75);
		-webkit-box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.75);
		-moz-box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.75);
	}

	.sponsor-logo {
		transition: transform 0.5s ease;
	}

	.sponsor-link:hover .sponsor-logo {
		transform: scale(1.1);
	}
</style>
