---
import SponsorsComponent from '@/components/Sponsors.astro'
import SectionTitle from '@/components/SectionTitle.astro'
---

<section id="sponsors" class="mx-auto my-16 max-w-2xl px-5 md:px-0 lg:my-20">
  <SponsorsComponent />
</section>
