---
const SPONSORS = [
	{
		id: "vicio",
		name: "Vicio",
		url: "https://www.ganasdevicio.com/",
	},
	{
		id: "revolut",
		name: "Revolut",
		url: "https://revolut.com/",
	},
	{
		id: "el-pozo",
		name: "El Pozo",
		url: "https://elpozo.com/",
	},
	{
		id: "grefusa",
		name: "Grefusa",
		url: "https://grefusa.com/",
	},
	{
		id: "spotify",
		name: "Spotify",
		url: "https://spotify.com/",
	},
	{
		id: "cerave",
		name: "Cerave",
		url: "https://cerave.es/",
	},
	{
		id: "prime",
		name: "Prime",
		url: "https://drinkprime.com/",
	},
	{
		id: "alsa",
		name: "Alsa",
		url: "https://alsa.es/",
	},
	{
		id: "maxibon",
		name: "Maxibon",
		url: "https://maxibon.es/",
	},
]
---

<section class="my-40">
	<h3 class="text-center text-2xl font-semibold uppercase text-white">Patrocinadores</h3>
	<p class="mt-4 text-center text-xl text-neutral-300">
		La Velada puede llevarse a cabo gracias a la colaboración de...
	</p>

	<div class="mt-12 grid grid-cols-2 gap-8 md:grid-cols-3">
		{
			SPONSORS.map(({ id, name, url }) => (
				<a
					class="company-link group relative flex h-24 items-center justify-center overflow-hidden after:absolute after:bottom-0 after:left-0 after:h-full after:w-32 after:translate-x-[-400px] after:skew-x-[45deg] after:bg-white/10 hover:from-white/20 hover:after:animate-[glass-effect_.5s_ease-in-out] md:h-32"
					title={`Visita la página del patrocinador ${name}`}
					href={url}
					target="_blank"
					rel="noopener noreferrer"
				>
					<img
						loading="lazy"
						src={`/img/${id}.svg`}
						alt={`Logo del patrocinador ${name}`}
						class="company-logo w-30 h-auto transition group-hover:scale-110"
					/>
				</a>
			))
		}
	</div>
</section>
<style>
	.company-link {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
		transition: all 0.5s ease;
	}

	.company-link::before {
		content: "";
		position: absolute;
		inset: 0;
		display: block;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, transparent);
		opacity: 0;
		height: 50%;
		transition: opacity 0.5s ease-in;
	}

	.company-link:hover::before {
		opacity: 0.8;
		height: 90%;
		box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.75);
	}

	.company-logo {
		transition: transform 0.3s ease-in-out;
	}

	.company-link:hover .company-logo {
		transform: scale(1.1);
	}

	@keyframes glass-effect {
		0% {
			background-color: #ffffff05;
			transform: skewX(45deg) translateX(-400px);
		}

		50% {
			background-color: #ffffff10;
			transform: skewX(45deg) translateX(0px);
		}

		100% {
			background-color: #ffffff05;
			transform: skewX(45deg) translateX(400px);
		}
	}
</style>
