<div class="mt-32 flex justify-center items-center">
  <iframe
    src="https://player.twitch.tv/?channel=ibai&parent=localhost"
    width="1280"
    height="720"
    allowfullscreen></iframe>
</div>
