---
import Typography from "@/components/Typography.astro"
---

<section class="mt-52 overflow-hidden px-2 pt-16 sm:pb-16 sm:pt-32 md:pt-32">
	<Typography
		as="h3"
		variant="atomic-title"
		color="primary"
		class:list={"mb-10 -skew-y-6 text-center"}
	>
		<span class="text-white">¡GRACIAS a todos!</span><br />
		<span class="mt-4 block leading-none">Récord de 3,8 millones<br />de espectadores</span>
	</Typography>
</section>
