---
import "../styles/global.css"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>La Velada del Año V: evento de boxeo por Ibai Llanos</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta
			name="description"
			content="Evento de boxeo aficionado entre streamers, creadores de contenido y celebridades, organizado por Ibai Llanos"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
