---
import "@/styles/global.css";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      La Velada del A単o V - Evento de boxeo de Ibai Llanos con creadores de
      contenido
    </title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta
      name="description"
      content="Evento de boxeo aficionado entre streamers y creadores de contenido, organizado por Ibai Llanos"
    />

    <meta property="og:url" content="https://www.infolavelada.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="La Velada del A単o V de Ibai Llanos" />
    <meta
      property="og:description"
      content="Evento de boxeo aficionado entre streamers y creadores de contenido, organizado por Ibai Llanos"
    />
    <meta property="og:image" content="https://www.infolavelada.com/og.jpg" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:site_name" content="La Velada del A単o V" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@infoLaVelada" />
    <meta name="twitter:creator" content="@ibaiLlanos" />
    <meta name="twitter:title" content="La Velada del A単o V de Ibai Llanos" />
    <meta
      name="twitter:description"
      content="Evento de boxeo aficionado entre streamers y creadores de contenido, organizado por Ibai Llanos"
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f19fca;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    padding: 1em;
  }
</style>
