---
import "@fontsource-variable/jost"

import ButtonUp from "@/components/ButtonUp.astro"
import LightsBackground from "@/components/LightsBackground.astro"
import NoiseBackground from "@/components/NoiseBackground.astro"
import SEO from "@/components/SEO.astro"

interface Props {
	description: string
	title: string
	preloadImgLCP?: string
}

const { title, description, preloadImgLCP } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<SEO title={title} description={description} preloadImgLCP={preloadImgLCP!} />
	</head>

	<body
		class="dark selection:bg-accent [&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary"
	>
		<!-- <SmokeBackground /> -->
		<NoiseBackground />
		<LightsBackground />
		<div
			class="mx-auto max-w-6xl px-2 pt-16 selection:bg-primary selection:text-secondary md:pt-20 lg:px-10"
			id="main-content"
		>
			<slot />
		</div>
		<ButtonUp />
		<style is:global>
			:root {
				--color-primary: #ddd;
				--color-secondary: #333;
				--color-accent: #d5ff00;

				--background-color: #141800;
				--background-twitch: var(--color-twitch-ice);

				--color-twitch: #9146ff;
				--color-twitch-ice: #f0f0ff;
			}

			@font-face {
				font-family: Atomic;
				font-display: swap;
				src: url("/fonts/atomic.woff2") format("woff2");
			}

			html {
				font-family: "Jost Variable", system-ui, sans-serif;
				background: var(--background-color);
			}

			main {
				position: relative;
			}

			/* @media screen and (prefers-reduced-motion: no-preference) {
html {
scroll-behavior: smooth;
}
} */

			/* Hiding class, making content visible only to screen readers but not visually */
			/* "sr" meaning "screen-reader" */
			.sr-only:not(:focus):not(:active) {
				clip: rect(0 0 0 0);
				clip-path: inset(50%);
				height: 1px;
				overflow: hidden;
				position: absolute;
				white-space: nowrap;
				width: 1px;
			}

			@supports selector(::-webkit-scrollbar) {
				::-webkit-scrollbar {
					width: 10px;
					border-radius: 10px;
				}

				::-webkit-scrollbar-thumb {
					border-radius: 10px;
					background-color: theme("colors.primary");
					border: 2px solid transparent;
					background-clip: content-box;
				}

				::-webkit-scrollbar-thumb:active {
					background-color: #666;
				}

				::-webkit-scrollbar-track {
					background: var(--background-image);
				}

				::-webkit-scrollbar-corner {
					background: var(--background-image);
				}
			}

			@supports not selector(::-webkit-scrollbar) {
				* {
					scrollbar-color: theme("colors.primary") transparent;
					scrollbar-width: thin;
				}
			}
		</style>
	</body>
</html>
