---
import "@fontsource-variable/jost"
import Noise from "@/components/Noise.astro"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Evento de boxeo entre streamers y creadores de contenido, organizado por Ibai Llanos"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://lavelada.es" />
    <title>{title}</title>
  </head>
  <body>
    <Noise />
    <div class="max-w-6xl px-2 lg:px-10 pt-20 md:pt-32 mx-auto">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #333;
    --color-secondary: #ddd;
  }

  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    background: #ddd;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: #ddd;
      --color-secondary: #333;
    }

    html {
      background: #111;
    }
  }
</style>
