---
import "../styles/global.css"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>La Velada del Año V: evento de boxeo por Ibai Llanos</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta
			name="description"
			content="Evento de boxeo aficionado entre streamers, creadores de contenido y celebridades, organizado por Ibai Llanos"
		/>

		<meta name="keywords" content="velada, streamers, creadores, Ibai, boxeo, midudev" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@infoLaVelada" />
		<meta name="twitter:creator" content="@IbaiLlanos" />
		<meta name="twitter:title" content="La Velada del Año V: evento de boxeo por Ibai Llanos" />
		<meta
			name="twitter:description"
			content="Evento de boxeo aficionado entre streamers, creadores de contenido y celebridades, organizado por Ibai Llanos"
		/>
		<meta name="twitter:image" content="https://infolavelada.com/og.jpg" />

		<meta property="og:image" content="https://infolavelada.com/og.jpg" />
		<meta property="og:title" content="La Velada del Año V: evento de boxeo por Ibai Llanos" />
		<meta
			property="og:description"
			content="Evento de boxeo aficionado entre streamers, creadores de contenido y celebridades, organizado por Ibai Llanos"
		/>
		<meta property="og:url" content="https://infolavelada.com" />
		<meta property="og:site_name" content="La Velada 4" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_ES" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
